node-red/flows.json
[{"id":"d3ff7562.eebf38","type":"tab","label":"Main","disabled":false,"info":""},{"id":"7d4c9938.2a0338","type":"tab","label":"TV","disabled":false,"info":""},{"id":"6e3c7fcf.e7591","type":"tab","label":"Blinds","disabled":false,"info":""},{"id":"423c527d.a422fc","type":"tab","label":"Alarm Clock","disabled":false,"info":""},{"id":"ce35d200.18817","type":"tab","label":"Entrance","disabled":false,"info":""},{"id":"5ecca76c.9de098","type":"tab","label":"Loggia","disabled":false,"info":""},{"id":"27f43369.1137ec","type":"subflow","name":"apartment occupied?","info":"","category":"","in":[{"x":181.5,"y":69,"wires":[{"id":"cbbdb47d.a4ed48"}]}],"out":[{"x":700,"y":40,"wires":[{"id":"1792a55d.ddc24b","port":0}]},{"x":700,"y":90,"wires":[{"id":"1792a55d.ddc24b","port":1}]}],"outputLabels":["clear","occupied"]},{"id":"7fa54d71.595124","type":"subflow","name":"alarm state active","info":"","category":"","in":[{"x":220,"y":300,"wires":[{"id":"569f155d.bbd95c"}]}],"out":[{"x":540,"y":350,"wires":[{"id":"b631dff9.45941","port":0}]}]},{"id":"78fe396.483dac8","type":"server","z":"","name":"Home Assistant"},{"id":"3fdc83d9.15020c","type":"samsung-tv","z":"","name":"samsung-tv","address":"192.168.178.20"},{"id":"74556465.5e1fac","type":"api-call-service","z":"d3ff7562.eebf38","name":"Roomba ON","server":"78fe396.483dac8","service_domain":"vacuum","service":"turn_on","data":"{\"entity_id\":\"vacuum.roomba\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":560,"y":40,"wires":[[]]},{"id":"d5a40336.045ed","type":"inject","z":"d3ff7562.eebf38","name":"10am weekdays","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"00 10 * * 1,2,3,4,5","once":false,"onceDelay":0.1,"x":144.5,"y":60,"wires":[["b816139a.b3f9e"]]},{"id":"cbbdb47d.a4ed48","type":"api-current-state","z":"27f43369.1137ec","name":"apartment occupancy","server":"78fe396.483dac8","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"binary_sensor.apartment_occupancy","state_type":"habool","override_payload":true,"override_data":true,"x":361.5,"y":69,"wires":[["1792a55d.ddc24b"]]},{"id":"1792a55d.ddc24b","type":"switch","z":"27f43369.1137ec","name":"is occupied?","property":"payload","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":554.5,"y":69,"wires":[[],[]]},{"id":"dd3a875c.3ca6f8","type":"server-state-changed","z":"d3ff7562.eebf38","name":"Kitchen Motion","server":"78fe396.483dac8","entityidfilter":"binary_sensor.kitchen_motion","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":120,"y":180,"wires":[["3e0b850.2c5117c"]]},{"id":"3e0b850.2c5117c","type":"switch","z":"d3ff7562.eebf38","name":"detected","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":280,"y":180,"wires":[["5f5c835e.99396c","2ebc2530.aba6ea"],["8aa7dbfd.4c8878"]]},{"id":"2ebc2530.aba6ea","type":"api-call-service","z":"d3ff7562.eebf38","name":"Overhead Light ON","server":"78fe396.483dac8","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.kitchen_overhead_light\"}","mergecontext":"","output_location":"","output_location_type":"none","x":530,"y":140,"wires":[[]]},{"id":"8aa7dbfd.4c8878","type":"trigger","z":"d3ff7562.eebf38","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"3","extend":false,"units":"min","reset":"","bytopic":"all","name":"","x":510,"y":220,"wires":[["8ddc636e.df38f"]]},{"id":"8ddc636e.df38f","type":"api-call-service","z":"d3ff7562.eebf38","name":"Overhead Light OFF","server":"78fe396.483dac8","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.kitchen_overhead_light\"}","mergecontext":"","output_location":"","output_location_type":"none","x":720,"y":220,"wires":[[]]},{"id":"5f5c835e.99396c","type":"change","z":"d3ff7562.eebf38","name":"reset timer","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":180,"wires":[["8aa7dbfd.4c8878"]]},{"id":"efccbb4b.e61d78","type":"switch","z":"d3ff7562.eebf38","name":"button pressed","property":"payload.event.event","propertyType":"msg","rules":[{"t":"eq","v":"34","vt":"str"},{"t":"eq","v":"16","vt":"str"},{"t":"eq","v":"17","vt":"str"},{"t":"eq","v":"18","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":440,"y":940,"wires":[["dc9ac509.a59a08"],["dc9ac509.a59a08","98646af4.5315b8"],[],[]],"outputLabels":["button 1","button 2","button 3","button 4"]},{"id":"8b3e8f60.01d61","type":"api-call-service","z":"d3ff7562.eebf38","name":"Kitchen Utilities OFF","server":"78fe396.483dac8","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.mystromkitchen\"}","mergecontext":"","output_location":"","output_location_type":"none","x":960,"y":880,"wires":[[]]},{"id":"7eea47be.f4f948","type":"server-state-changed","z":"d3ff7562.eebf38","name":"Washing Machine","server":"78fe396.483dac8","entityidfilter":"binary_sensor.washingmachine_state","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"","halt_if_type":"","halt_if_compare":"is","outputs":1,"x":130,"y":660,"wires":[["82d341f8.0791a"]]},{"id":"82d341f8.0791a","type":"switch","z":"d3ff7562.eebf38","name":"is on?","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":660,"wires":[[],["51783002.af6cf","c97842b0.76d3"]]},{"id":"8fef6f51.33fc8","type":"api-call-service","z":"d3ff7562.eebf38","name":"broadcast","server":"78fe396.483dac8","service_domain":"tts","service":"amazon_polly_say","data":"{\"entity_id\":\"media_player.google_home\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":690,"y":650,"wires":[[]]},{"id":"51783002.af6cf","type":"function","z":"d3ff7562.eebf38","name":"Washing Ended Message","func":"var message = `\n<speak>\n    <p>The washing machine or dryer has now finished.</p>\n    <p>Please take out all your clothes.</p>\n</speak>\n`\n\nmsg.payload =\n    {\n        \"data\":\n        {\n            \"message\": message\n        }\n        \n    }\n\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":650,"wires":[["8fef6f51.33fc8"]]},{"id":"d6ca042d.b84ea8","type":"api-call-service","z":"d3ff7562.eebf38","name":"Turn all lights off","server":"78fe396.483dac8","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"all\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":936.5,"y":937,"wires":[[]]},{"id":"5b03e1a3.813c6","type":"http request","z":"7d4c9938.2a0338","name":"Netflix","method":"POST","ret":"txt","url":"http://192.168.178.20:8080/ws/app/Netflix","tls":"","x":1140,"y":300,"wires":[["9e4938a1.a731b8","f6d56ec6.908fa"]]},{"id":"140749a4.0fed96","type":"api-call-service","z":"7d4c9938.2a0338","name":"TV ON","server":"78fe396.483dac8","service_domain":"remote","service":"send_command","data":"{\"entity_id\":\"remote.harmony_hub\",\"device\":\"Samsung TV\",\"command\":[\"PowerOn\"],\"delay_secs\":0.6}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":810,"y":230,"wires":[["125d603.261a1a"]]},{"id":"761bf111.d7e1d","type":"api-current-state","z":"7d4c9938.2a0338","name":"Samsung TV","server":"78fe396.483dac8","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"binary_sensor.samsung_tv","state_type":"str","override_payload":true,"override_data":true,"x":610,"y":340,"wires":[["2d8645dd.cbd9fa"]]},{"id":"2d8645dd.cbd9fa","type":"switch","z":"7d4c9938.2a0338","name":"is on?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":670,"y":260,"wires":[["140749a4.0fed96"],["c0d4c663.216208"]]},{"id":"125d603.261a1a","type":"trigger","z":"7d4c9938.2a0338","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"3","extend":false,"units":"s","reset":"","bytopic":"all","name":"wait 3s","x":940,"y":230,"wires":[["c0d4c663.216208"]]},{"id":"7ed0d1c0.fdf53","type":"http request","z":"7d4c9938.2a0338","name":"Home","method":"POST","ret":"obj","url":"http://192.168.178.20:8080/ws/app/YouTube","tls":"","x":1060,"y":370,"wires":[["ca9d6a57.4323b8"]]},{"id":"ca9d6a57.4323b8","type":"trigger","z":"7d4c9938.2a0338","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"2","extend":false,"units":"s","reset":"","bytopic":"all","name":"wait 2s","x":1190,"y":370,"wires":[["a5d34e3d.aef63"]]},{"id":"a5d34e3d.aef63","type":"api-call-service","z":"7d4c9938.2a0338","name":"Switch to Zattoo","server":"78fe396.483dac8","service_domain":"remote","service":"send_command","data":"{\"device\":\"Samsung TV\",\"command\":[\"SmartHub\",\"DirectionRight\",\"Select\"],\"delay_secs\":1}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1350,"y":370,"wires":[["c2f374af.75b428"]]},{"id":"f4c935e3.63f598","type":"http request","z":"7d4c9938.2a0338","name":"Zattoo","method":"GET","ret":"txt","url":"http://192.168.178.20:8080/ws/app/Zattoo","tls":"","x":800,"y":400,"wires":[["dcfdd847.af5008"]]},{"id":"dcfdd847.af5008","type":"switch","z":"7d4c9938.2a0338","name":"is active","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"<state>stopped</state>","vt":"str"},{"t":"cont","v":"<state>running</state>","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":930,"y":400,"wires":[["7ed0d1c0.fdf53"],["c2f374af.75b428"]]},{"id":"f501d8cb.053688","type":"change","z":"7d4c9938.2a0338","name":"BBC World News","rules":[{"t":"set","p":"tvchannel","pt":"msg","to":"1","tot":"str"},{"t":"set","p":"app","pt":"msg","to":"zattoo","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":220,"wires":[["761bf111.d7e1d"]]},{"id":"a638bfe8.496cd","type":"api-call-service","z":"7d4c9938.2a0338","name":"Switch Channel","server":"78fe396.483dac8","service_domain":"remote","service":"send_command","data":"","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1010,"y":490,"wires":[[]]},{"id":"88ba2f44.63fba","type":"function","z":"7d4c9938.2a0338","name":"Channel Msg","func":"var command = msg.tvchannel\n\nmsg.payload =\n    {\n        \"domain\":\"remote\",\n        \"service\":\"send_command\",\n        \"data\":{\n            \"device\": \"Samsung TV\",\n            \"command\": [\n                command\n            ],\n            \"delay_secs\": 1\n        }\n    }\n\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":490,"wires":[["a638bfe8.496cd"]]},{"id":"da70ad2e.a6e47","type":"change","z":"7d4c9938.2a0338","name":"CNN","rules":[{"t":"set","p":"tvchannel","pt":"msg","to":"2","tot":"str"},{"t":"set","p":"app","pt":"msg","to":"zattoo","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":260,"wires":[["761bf111.d7e1d"]]},{"id":"be87cd3.533ce3","type":"change","z":"7d4c9938.2a0338","name":"CNN Money","rules":[{"t":"set","p":"tvchannel","pt":"msg","to":"3","tot":"str"},{"t":"set","p":"app","pt":"msg","to":"zattoo","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":300,"wires":[["761bf111.d7e1d"]]},{"id":"f81211ae.154","type":"change","z":"7d4c9938.2a0338","name":"SRF 1","rules":[{"t":"set","p":"tvchannel","pt":"msg","to":"4","tot":"str"},{"t":"set","p":"app","pt":"msg","to":"zattoo","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":340,"wires":[["761bf111.d7e1d"]]},{"id":"959c4461.2a8c08","type":"change","z":"7d4c9938.2a0338","name":"SRF 2","rules":[{"t":"set","p":"tvchannel","pt":"msg","to":"5","tot":"str"},{"t":"set","p":"app","pt":"msg","to":"zattoo","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":380,"wires":[["761bf111.d7e1d"]]},{"id":"469726db.11c908","type":"change","z":"7d4c9938.2a0338","name":"Tele Züri","rules":[{"t":"set","p":"tvchannel","pt":"msg","to":"6","tot":"str"},{"t":"set","p":"app","pt":"msg","to":"zattoo","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":420,"wires":[["761bf111.d7e1d"]]},{"id":"723e2f12.3b45d","type":"change","z":"7d4c9938.2a0338","name":"3+","rules":[{"t":"set","p":"tvchannel","pt":"msg","to":"7","tot":"str"},{"t":"set","p":"app","pt":"msg","to":"zattoo","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":460,"wires":[["761bf111.d7e1d"]]},{"id":"8aa1d5fb.76f498","type":"change","z":"7d4c9938.2a0338","name":"4+","rules":[{"t":"set","p":"tvchannel","pt":"msg","to":"8","tot":"str"},{"t":"set","p":"app","pt":"msg","to":"zattoo","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":500,"wires":[["761bf111.d7e1d"]]},{"id":"c2f374af.75b428","type":"change","z":"7d4c9938.2a0338","name":"Channel Manager","rules":[],"action":"","property":"","from":"","to":"","reg":false,"x":1140,"y":430,"wires":[["88ba2f44.63fba","613b88ed.b9ef28"]]},{"id":"c0d4c663.216208","type":"switch","z":"7d4c9938.2a0338","name":"Chosen app?","property":"app","propertyType":"msg","rules":[{"t":"eq","v":"youtube","vt":"str"},{"t":"eq","v":"netflix","vt":"str"},{"t":"eq","v":"zattoo","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":880,"y":300,"wires":[["c15b7ba5.953c18"],["5b03e1a3.813c6"],["f4c935e3.63f598"]]},{"id":"c15b7ba5.953c18","type":"http request","z":"7d4c9938.2a0338","name":"YouTube","method":"POST","ret":"txt","url":"http://192.168.178.20:8080/ws/app/YouTube","tls":"","x":1150,"y":260,"wires":[[]]},{"id":"7ae3028d.e324bc","type":"change","z":"7d4c9938.2a0338","name":"YouTube","rules":[{"t":"set","p":"app","pt":"msg","to":"youtube","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":540,"wires":[["761bf111.d7e1d"]]},{"id":"e956c0f3.b1e0b","type":"change","z":"7d4c9938.2a0338","name":"Netflix","rules":[{"t":"set","p":"app","pt":"msg","to":"netflix","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":580,"wires":[["761bf111.d7e1d"]]},{"id":"2703fb84.5f7f54","type":"server-state-changed","z":"7d4c9938.2a0338","name":"BBC World News","server":"78fe396.483dac8","entityidfilter":"input_boolean.tv_channel_bbc_world_news","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"","halt_if_compare":"is","outputs":2,"x":100,"y":220,"wires":[["f501d8cb.053688"],[]]},{"id":"45590da8.da39a4","type":"server-state-changed","z":"7d4c9938.2a0338","name":"CNN","server":"78fe396.483dac8","entityidfilter":"input_boolean.tv_channel_cnn_news","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"","halt_if_compare":"is","outputs":2,"x":70,"y":260,"wires":[["da70ad2e.a6e47"],[]]},{"id":"613b88ed.b9ef28","type":"api-call-service","z":"7d4c9938.2a0338","name":"Reset Channel Group","server":"78fe396.483dac8","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"group.tv_channels\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1370,"y":430,"wires":[[]]},{"id":"a074486c.c83828","type":"server-state-changed","z":"7d4c9938.2a0338","name":"CNN Money","server":"78fe396.483dac8","entityidfilter":"input_boolean.tv_channel_cnn_money_switzerland","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"","halt_if_compare":"is","outputs":2,"x":90,"y":300,"wires":[["be87cd3.533ce3"],[]]},{"id":"5051e277.589f1c","type":"server-state-changed","z":"7d4c9938.2a0338","name":"SRF 1","server":"78fe396.483dac8","entityidfilter":"input_boolean.tv_channel_srf1","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"","halt_if_compare":"is","outputs":2,"x":70,"y":340,"wires":[["f81211ae.154"],[]]},{"id":"6d2feb3d.f48e14","type":"server-state-changed","z":"7d4c9938.2a0338","name":"SRF 2","server":"78fe396.483dac8","entityidfilter":"input_boolean.tv_channel_srf2","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"","halt_if_compare":"is","outputs":2,"x":70,"y":380,"wires":[["959c4461.2a8c08"],[]]},{"id":"e7f2db2c.1900f8","type":"server-state-changed","z":"7d4c9938.2a0338","name":"Tele Züri","server":"78fe396.483dac8","entityidfilter":"input_boolean.tv_channel_tele_zueri","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"","halt_if_compare":"is","outputs":2,"x":80,"y":420,"wires":[["469726db.11c908"],[]]},{"id":"8bb606bc.d046d8","type":"server-state-changed","z":"7d4c9938.2a0338","name":"3+","server":"78fe396.483dac8","entityidfilter":"input_boolean.tv_channel_3plus","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"","halt_if_compare":"is","outputs":2,"x":70,"y":460,"wires":[["723e2f12.3b45d"],[]]},{"id":"51ae4c46.b632c4","type":"server-state-changed","z":"7d4c9938.2a0338","name":"4+","server":"78fe396.483dac8","entityidfilter":"input_boolean.tv_channel_4plus","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"","halt_if_compare":"is","outputs":2,"x":70,"y":500,"wires":[["8aa1d5fb.76f498"],[]]},{"id":"b437dc64.055e1","type":"server-state-changed","z":"7d4c9938.2a0338","name":"YouTube","server":"78fe396.483dac8","entityidfilter":"input_boolean.tv_app_youtube","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"","halt_if_compare":"is","outputs":2,"x":80,"y":540,"wires":[["7ae3028d.e324bc"],[]]},{"id":"8e708391.53e05","type":"server-state-changed","z":"7d4c9938.2a0338","name":"Netflix","server":"78fe396.483dac8","entityidfilter":"input_boolean.tv_app_netflix","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"","halt_if_compare":"is","outputs":2,"x":70,"y":580,"wires":[["e956c0f3.b1e0b"],[]]},{"id":"b25553b2.1f43","type":"switch","z":"7d4c9938.2a0338","name":"turn on?","property":"payload.event.tv_action","propertyType":"msg","rules":[{"t":"eq","v":"tv_off","vt":"str"},{"t":"eq","v":"tv_on","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":110,"wires":[["775f25a7.89c9ec"],["f501d8cb.053688"]]},{"id":"775f25a7.89c9ec","type":"api-call-service","z":"7d4c9938.2a0338","name":"Turn TV OFF","server":"78fe396.483dac8","service_domain":"remote","service":"send_command","data":"{\"entity_id\":\"remote.harmony_hub\",\"device\":\"Samsung TV\",\"command\":[\"PowerOff\"],\"delay_secs\":0.6}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":520,"y":110,"wires":[[]]},{"id":"d8b74289.ab507","type":"inject","z":"7d4c9938.2a0338","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":50,"wires":[["573f7f7a.9a46"]]},{"id":"573f7f7a.9a46","type":"api-call-service","z":"7d4c9938.2a0338","name":"Stereo ON","server":"78fe396.483dac8","service_domain":"remote","service":"send_command","data":"{\"entity_id\":\"remote.harmony_hub\",\"device\":\"Philips Amp\",\"command\":[\"PowerToggle\",\"InputOptical\"],\"delay_secs\":0.6}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":260,"y":50,"wires":[[]]},{"id":"1a4d1ac8.a678e5","type":"server-events","z":"d3ff7562.eebf38","name":"IFTTT","server":"78fe396.483dac8","event_type":"ifttt_webhook_received","x":110,"y":480,"wires":[["e4677a2c.2fb918"]]},{"id":"e4677a2c.2fb918","type":"switch","z":"d3ff7562.eebf38","name":"","property":"payload.event.controlDomain","propertyType":"msg","rules":[{"t":"eq","v":"tv","vt":"str"},{"t":"eq","v":"sleep","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":250,"y":480,"wires":[["3284503b.0166a"],["8cac1b54.768a28"]]},{"id":"1a982428.5111cc","type":"link in","z":"7d4c9938.2a0338","name":"IFTTT TV Events","links":["3284503b.0166a"],"x":35,"y":650,"wires":[["51b2f8ef.898868"]],"outputLabels":["TV Events"]},{"id":"3284503b.0166a","type":"link out","z":"d3ff7562.eebf38","name":"IFTTT TV Events Output","links":["1a982428.5111cc"],"x":355,"y":460,"wires":[]},{"id":"2400d95c.a0bbc6","type":"change","z":"7d4c9938.2a0338","name":"Next Channel","rules":[{"t":"set","p":"tvchannel","pt":"msg","to":"ChannelUp","tot":"str"},{"t":"set","p":"app","pt":"msg","to":"zattoo","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":630,"wires":[["761bf111.d7e1d"]]},{"id":"7e74e960.187558","type":"change","z":"7d4c9938.2a0338","name":"Last Channel","rules":[{"t":"set","p":"tvchannel","pt":"msg","to":"ChannelDown","tot":"str"},{"t":"set","p":"app","pt":"msg","to":"zattoo","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":670,"wires":[["761bf111.d7e1d"]]},{"id":"51b2f8ef.898868","type":"switch","z":"7d4c9938.2a0338","name":"Cmd Interpreter","property":"payload.event.tv","propertyType":"msg","rules":[{"t":"eq","v":"nextchannel","vt":"str"},{"t":"eq","v":"lastchannel","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":170,"y":650,"wires":[["2400d95c.a0bbc6"],["7e74e960.187558"]]},{"id":"8d3b36f.f86ddc8","type":"server-events","z":"7d4c9938.2a0338","name":"TV On/Off Events","server":"78fe396.483dac8","event_type":"ACTION_TV_STATE_CHANGE","x":100,"y":110,"wires":[["b25553b2.1f43"]]},{"id":"71ce6663.37b158","type":"api-call-service","z":"d3ff7562.eebf38","name":"Turn TV OFF","server":"78fe396.483dac8","service_domain":"remote","service":"send_command","data":"{\"entity_id\":\"remote.harmony_hub\",\"device\":\"Samsung TV\",\"command\":[\"PowerOff\"],\"delay_secs\":0.6}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":928,"y":992,"wires":[[]]},{"id":"7e709c42.94ba14","type":"server-events","z":"d3ff7562.eebf38","name":"Dconz Event","server":"78fe396.483dac8","event_type":"deconz_event","x":120,"y":940,"wires":[["a7b4614.651e8a"]]},{"id":"a7b4614.651e8a","type":"switch","z":"d3ff7562.eebf38","name":"is tap?","property":"payload.event.id","propertyType":"msg","rules":[{"t":"eq","v":"tap","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":260,"y":940,"wires":[["efccbb4b.e61d78"]]},{"id":"6ed8b813.0efc38","type":"server-state-changed","z":"6e3c7fcf.e7591","name":"Loggia Blinds","server":"78fe396.483dac8","entityidfilter":"binary_sensor.loggia_blinds","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"","halt_if_compare":"is","outputs":1,"x":120,"y":70,"wires":[["c9d4c41f.32acf8"]]},{"id":"c9d4c41f.32acf8","type":"switch","z":"6e3c7fcf.e7591","name":"have closed?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":280,"y":70,"wires":[["345a2047.48b8d"],[]]},{"id":"f66820ab.a8d76","type":"api-call-service","z":"6e3c7fcf.e7591","name":"Loggia Blinds OPEN","server":"78fe396.483dac8","service_domain":"cover","service":"open_cover","data":"{\"entity_id\":\"cover.loggia_blinds\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":890,"y":70,"wires":[[]]},{"id":"345a2047.48b8d","type":"time-range-switch","z":"6e3c7fcf.e7591","name":"","lat":"47.38089","lon":"8.48364","startTime":"09:00","endTime":"15:00","startOffset":0,"endOffset":0,"x":670,"y":70,"wires":[["f66820ab.a8d76"],["d7a853b9.93925"]]},{"id":"fab9456c.02f328","type":"server-state-changed","z":"6e3c7fcf.e7591","name":"Living Room Blinds","server":"78fe396.483dac8","entityidfilter":"binary_sensor.living_room_blinds","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"","halt_if_compare":"is","outputs":1,"x":130,"y":300,"wires":[["b1647f5d.f170a"]]},{"id":"b1647f5d.f170a","type":"switch","z":"6e3c7fcf.e7591","name":"have closed?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":300,"wires":[["f1a14f54.ea355"],[]]},{"id":"818b0a68.2374e8","type":"api-call-service","z":"6e3c7fcf.e7591","name":"Loggia Blinds OPEN","server":"78fe396.483dac8","service_domain":"cover","service":"open_cover","data":"{\"entity_id\":\"cover.livingroom_blinds\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1120,"y":280,"wires":[[]]},{"id":"c66d6476.df3938","type":"server-events","z":"d3ff7562.eebf38","name":"Dconz Event","server":"78fe396.483dac8","event_type":"deconz_event","x":110,"y":800,"wires":[["1f56673e.759f69"]]},{"id":"1f56673e.759f69","type":"switch","z":"d3ff7562.eebf38","name":"is Elliptical active?","property":"payload.event.id","propertyType":"msg","rules":[{"t":"eq","v":"elliptical_sensor","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":300,"y":800,"wires":[["a56ddb41.478e28"]]},{"id":"a56ddb41.478e28","type":"api-call-service","z":"d3ff7562.eebf38","name":"Turn all lights off","server":"78fe396.483dac8","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"all\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":500,"y":800,"wires":[[]]},{"id":"dc9ac509.a59a08","type":"function","z":"d3ff7562.eebf38","name":"set exiting=true","func":"global.set('exiting', true);\n\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":900,"wires":[["8b3e8f60.01d61","d6ca042d.b84ea8","71ce6663.37b158","e8845362.ed779","f542f190.83306"]]},{"id":"47e21de8.f3cc74","type":"function","z":"d3ff7562.eebf38","name":"set exiting=false","func":"global.set('exiting', false);","outputs":1,"noerr":0,"x":1107.5,"y":1046,"wires":[[]]},{"id":"e8845362.ed779","type":"trigger","z":"d3ff7562.eebf38","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"2","extend":false,"units":"min","reset":"","bytopic":"all","name":"","x":927.5,"y":1046,"wires":[["47e21de8.f3cc74"]]},{"id":"f542f190.83306","type":"api-call-service","z":"d3ff7562.eebf38","name":"Pause all media players","server":"78fe396.483dac8","service_domain":"media_player","service":"turn_off","data":"{\"entity_id\":\"all\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":970,"y":820,"wires":[[]]},{"id":"49789af0.21b024","type":"inject","z":"6e3c7fcf.e7591","name":"10am","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"00 10 * * *","once":false,"onceDelay":0.1,"x":110,"y":180,"wires":[["2ed64f97.04611","854d6a81.c45eb8","43a3faa9.4272b4"]]},{"id":"2ed64f97.04611","type":"api-current-state","z":"6e3c7fcf.e7591","name":"Loggia Blinds","server":"78fe396.483dac8","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"cover.loggia_blinds","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":290,"y":140,"wires":[["a461ea54.a7e4a8"]]},{"id":"a461ea54.a7e4a8","type":"switch","z":"6e3c7fcf.e7591","name":"are closed?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"closed","vt":"str"},{"t":"eq","v":"open","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":480,"y":140,"wires":[["345a2047.48b8d"],["516a181d.7aec68"]]},{"id":"854d6a81.c45eb8","type":"api-current-state","z":"6e3c7fcf.e7591","name":"Living Room Blinds","server":"78fe396.483dac8","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"cover.livingroom_blinds","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":300,"y":180,"wires":[["a374010f.738b5"]]},{"id":"a374010f.738b5","type":"switch","z":"6e3c7fcf.e7591","name":"are closed?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"open","vt":"str"},{"t":"eq","v":"closed","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":480,"y":180,"wires":[["8629c031.ac58c"],["f1a14f54.ea355"]]},{"id":"98646af4.5315b8","type":"trigger","z":"d3ff7562.eebf38","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"5","extend":false,"units":"min","reset":"","bytopic":"all","name":"","x":670,"y":940,"wires":[["80bec39f.9d5a","5080fa72.d39e24"]]},{"id":"80bec39f.9d5a","type":"api-call-service","z":"d3ff7562.eebf38","name":"Roomba ON","server":"78fe396.483dac8","service_domain":"vacuum","service":"turn_on","data":"{\"entity_id\":\"vacuum.roomba\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":670,"y":1000,"wires":[[]]},{"id":"91ed1378.7109","type":"api-current-state","z":"d3ff7562.eebf38","name":"Tasks due today","server":"78fe396.483dac8","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"calendar.due_today","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":300,"y":1120,"wires":[["26a905ef.09954a"]]},{"id":"a5778746.a7b548","type":"api-call-service","z":"d3ff7562.eebf38","name":"broadcast","server":"78fe396.483dac8","service_domain":"tts","service":"amazon_polly_say","data":"{\"entity_id\":\"media_player.google_home\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":830,"y":1120,"wires":[[]]},{"id":"7eaeb92a.f6b628","type":"function","z":"d3ff7562.eebf38","name":"Tasks message","func":"\nvar allTasks = msg.data.attributes.all_tasks;\n\nvar taskText = \"\";\nallTasks.forEach(function (value) {\n  taskText += value + \", \"\n});\n\n//Replace characters that Amazon Polly can't deal with\ntaskText = taskText.replace(\"&\", \"and\")\n\nvar message = `\n<speak>\n    <p>You have ${allTasks.length} tasks scheduled for today.</p>\n    <p>These are the tasks: ${taskText}</p>\n</speak>\n`\n\nmsg.payload =\n    {\n        \"data\":\n        {\n            \"message\": message\n        }\n        \n    }\n\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":1100,"wires":[["a5778746.a7b548"]]},{"id":"3bdb775e.c3c868","type":"inject","z":"d3ff7562.eebf38","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":1120,"wires":[["91ed1378.7109"]]},{"id":"26a905ef.09954a","type":"switch","z":"d3ff7562.eebf38","name":"have tasks","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":1120,"wires":[["7eaeb92a.f6b628"],["ef0c5bf4.549e88"]],"outputLabels":["true","false"]},{"id":"ef0c5bf4.549e88","type":"function","z":"d3ff7562.eebf38","name":"No tasks","func":"var message = `\n<speak>\n    <p>You have no tasks scheduled for today.</p>\n</speak>\n`\n\nmsg.payload =\n    {\n        \"data\":\n        {\n            \"message\": message\n        }\n        \n    }\n\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":1140,"wires":[["a5778746.a7b548"]]},{"id":"b816139a.b3f9e","type":"subflow:27f43369.1137ec","z":"d3ff7562.eebf38","name":"","x":360,"y":60,"wires":[["74556465.5e1fac"],["b94a88b0.eff1c8"]]},{"id":"f60d8569.a31ce8","type":"subflow:27f43369.1137ec","z":"6e3c7fcf.e7591","name":"","x":890,"y":300,"wires":[["818b0a68.2374e8"],["213cd764.94a2f8"]]},{"id":"c90ddae.bc85728","type":"api-call-service","z":"423c527d.a422fc","name":"Bedroom Lights ON","server":"78fe396.483dac8","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.bedroom\",\"rgb_color\":[58,189,255],\"transition\":0,\"brightness\":1}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1030,"y":140,"wires":[["2593bf4d.0d296"]]},{"id":"2593bf4d.0d296","type":"trigger","z":"423c527d.a422fc","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"2","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":1230,"y":140,"wires":[["f171c58b.a86c08"]]},{"id":"112e8e71.4ac1a2","type":"api-call-service","z":"423c527d.a422fc","name":"Update Light","server":"78fe396.483dac8","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.bedroom\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1407,"y":191,"wires":[["36baefae.94ed9"]]},{"id":"f171c58b.a86c08","type":"function","z":"423c527d.a422fc","name":"Blue Phase","func":"msg.payload =\n    {\n        \"domain\": \"light\",\n        \"service\": \"turn_on\",\n        \"data\":\n        {\n            \"entity_id\": \"light.bedroom\",\n            \"transition\": 10,\n            \"brightness\": 50,\n            \"rgb_color\": [58, 189, 255]\n        }\n        \n    }\n\nreturn msg;","outputs":1,"noerr":0,"x":1235,"y":191,"wires":[["112e8e71.4ac1a2"]]},{"id":"36baefae.94ed9","type":"trigger","z":"423c527d.a422fc","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"20","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":1232,"y":235,"wires":[["454d9d05.c85bf4"]]},{"id":"454d9d05.c85bf4","type":"function","z":"423c527d.a422fc","name":"Bright Phase","func":"msg.payload =\n    {\n        \"domain\": \"light\",\n        \"service\": \"turn_on\",\n        \"data\":\n        {\n            \"entity_id\": \"light.bedroom\",\n            \"transition\": 20,\n            \"brightness\": 120,\n            \"rgb_color\": [146, 226, 255]\n        }\n        \n    }\n\nreturn msg;","outputs":1,"noerr":0,"x":1229,"y":282,"wires":[["3e9e8e1.395d572","210aa7f4.8059d8"]]},{"id":"3e9e8e1.395d572","type":"api-call-service","z":"423c527d.a422fc","name":"Update Light","server":"78fe396.483dac8","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.bedroom\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1412,"y":280,"wires":[[]]},{"id":"dbc2b13a.f20c6","type":"api-call-service","z":"423c527d.a422fc","name":"Click & Grow 9 ON","server":"78fe396.483dac8","service_domain":"switch","service":"turn_on","data":"{\"entity_id\":\"switch.mystromclickandgrow9\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1460,"y":430,"wires":[[]]},{"id":"13815998.415776","type":"api-call-service","z":"423c527d.a422fc","name":"Click & Grow 3 ON","server":"78fe396.483dac8","service_domain":"switch","service":"turn_on","data":"{\"entity_id\":\"switch.mystromclickandgrow3\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1462,"y":389,"wires":[[]]},{"id":"f378ce76.830d2","type":"change","z":"423c527d.a422fc","name":"Smart Garden","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1263.5,"y":412,"wires":[["13815998.415776","dbc2b13a.f20c6"]]},{"id":"beed78bc.6a50b8","type":"trigger","z":"423c527d.a422fc","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"5","extend":false,"units":"min","reset":"","bytopic":"all","name":"","x":1053,"y":412,"wires":[["f378ce76.830d2","e641380f.253d28"]]},{"id":"210aa7f4.8059d8","type":"function","z":"423c527d.a422fc","name":"Set alarm_state triggered","func":"global.set('alarm_state', 'triggered');","outputs":1,"noerr":0,"x":1449,"y":322,"wires":[[]]},{"id":"ea99f1ad.d8975","type":"function","z":"423c527d.a422fc","name":"Reset alarm_state","func":"global.set('alarm_state', 'inactive');\nglobal.set('read_tasks', 'true');","outputs":1,"noerr":0,"x":1250,"y":490,"wires":[[]]},{"id":"dd928c2c.25ec7","type":"trigger","z":"423c527d.a422fc","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"1","extend":false,"units":"hr","reset":"","bytopic":"all","name":"","x":1050,"y":490,"wires":[["ea99f1ad.d8975","516e2c4f.b76a44"]]},{"id":"1d2c5c55.314864","type":"subflow:27f43369.1137ec","z":"423c527d.a422fc","name":"","x":730,"y":120,"wires":[["b17aca82.d1b688","7f06dd0f.f01a24"],["c90ddae.bc85728","beed78bc.6a50b8","dd928c2c.25ec7"]]},{"id":"ed17765b.667578","type":"api-call-service","z":"423c527d.a422fc","name":"broadcast","server":"78fe396.483dac8","service_domain":"tts","service":"amazon_polly_say","data":"{\"entity_id\":\"media_player.google_home\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1290,"y":70,"wires":[[]]},{"id":"b17aca82.d1b688","type":"function","z":"423c527d.a422fc","name":"Alternate alarm: No occupancy","func":"var message = `\n<speak>\n    <p>Good morning! An alarm was scheduled, however I'm unable to detect apartment occupancy.</p>\n    <p>If you are in fact here, please make sure to connect to the wifi at your earliest convenience!</p>\n</speak>\n`\n\nmsg.payload =\n    {\n        \"data\":\n        {\n            \"message\": message\n        }\n        \n    }\n\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":70,"wires":[["ed17765b.667578"]]},{"id":"1cd30d6b.ce27e3","type":"server-state-changed","z":"423c527d.a422fc","name":"Bedroom Corridor Motion","server":"78fe396.483dac8","entityidfilter":"binary_sensor.bedroom_corridor_motion","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":160,"y":250,"wires":[["b07bb49f.c73718"]]},{"id":"569f155d.bbd95c","type":"function","z":"7fa54d71.595124","name":"alarm_state","func":"msg.alarm_state = global.get('alarm_state') || 'inactive';\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":300,"wires":[["b631dff9.45941"]]},{"id":"b631dff9.45941","type":"switch","z":"7fa54d71.595124","name":"was triggered","property":"alarm_state","propertyType":"msg","rules":[{"t":"eq","v":"triggered","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":380,"y":350,"wires":[[]]},{"id":"f639a82d.37ec38","type":"api-call-service","z":"423c527d.a422fc","name":"Living Room Lights ON","server":"78fe396.483dac8","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.living_room\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":390,"y":300,"wires":[[]]},{"id":"b07bb49f.c73718","type":"subflow:7fa54d71.595124","z":"423c527d.a422fc","name":"","x":390,"y":250,"wires":[["f639a82d.37ec38"]]},{"id":"2cb2daa8.4f01b6","type":"switch","z":"423c527d.a422fc","name":"has Kitchen Table Chair moved?","property":"payload.event.id","propertyType":"msg","rules":[{"t":"eq","v":"kitchen_table_chair","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":370,"y":440,"wires":[["420d6edf.8b25b"]]},{"id":"72779161.63772","type":"server-events","z":"423c527d.a422fc","name":"Dconz Event","server":"78fe396.483dac8","event_type":"deconz_event","x":120,"y":390,"wires":[["8ae2d0b1.0b119"]]},{"id":"6a4f6bf8.7eef94","type":"api-current-state","z":"423c527d.a422fc","name":"Tasks due today","server":"78fe396.483dac8","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"calendar.due_today","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":510,"y":570,"wires":[["acf96f3c.a1bed"]]},{"id":"983288ed.15bb08","type":"api-call-service","z":"423c527d.a422fc","name":"broadcast","server":"78fe396.483dac8","service_domain":"tts","service":"amazon_polly_say","data":"{\"entity_id\":\"media_player.home_hub\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1480,"y":640,"wires":[[]]},{"id":"aaeca2b1.7784c","type":"function","z":"423c527d.a422fc","name":"Has tasks","func":"\nvar allTasks = msg.data.attributes.all_tasks;\n\nvar taskText = \"\";\nallTasks.forEach(function (value) {\n  taskText += value + \", \"\n});\n\n//Replace characters that Amazon Polly can't deal with\ntaskText = taskText.replace(\"&\", \"and\")\n\nvar taskMessage = `\n    <p>You have ${allTasks.length} tasks scheduled for today.</p>\n    <p>These are the tasks: ${taskText}</p>\n`\n\nmsg.payload =\n    {\n        \"data\":\n        {\n            \"task_message\": taskMessage\n        }\n        \n    }\n\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":620,"wires":[["b10f16fd.17ccd8"]]},{"id":"acf96f3c.a1bed","type":"switch","z":"423c527d.a422fc","name":"have tasks","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":550,"y":640,"wires":[["aaeca2b1.7784c","60db98cb.674b78","3f61b70b.f50308"],["7e512cf1.0b7384","60db98cb.674b78","3f61b70b.f50308"]],"outputLabels":["true","false"]},{"id":"7e512cf1.0b7384","type":"function","z":"423c527d.a422fc","name":"No tasks","func":"var taskMessage = `\n    <p>Good morning Theo.</p>\n    <p>You have no tasks scheduled for today.</p>\n`\n\nmsg.payload =\n    {\n        \"data\":\n        {\n            \"task_message\": taskMessage\n        }\n        \n    }\n\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":660,"wires":[["b10f16fd.17ccd8"]]},{"id":"8ae2d0b1.0b119","type":"subflow:7fa54d71.595124","z":"423c527d.a422fc","name":"","x":330,"y":390,"wires":[["2cb2daa8.4f01b6"]]},{"id":"1615abe7.e45534","type":"api-call-service","z":"423c527d.a422fc","name":"Set Volume","server":"78fe396.483dac8","service_domain":"media_player","service":"volume_set","data":"{\"entity_id\":\"media_player.home_hub\",\"volume_level\":0.6}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":330,"y":570,"wires":[["6a4f6bf8.7eef94"]]},{"id":"420d6edf.8b25b","type":"function","z":"423c527d.a422fc","name":"read tasks","func":"msg.read_tasks = global.get('read_tasks') || 'true';\nglobal.set('read_tasks', 'false');\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":490,"wires":[["12fba262.ebc60e"]]},{"id":"12fba262.ebc60e","type":"switch","z":"423c527d.a422fc","name":"is set","property":"read_tasks","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":410,"y":490,"wires":[["1615abe7.e45534"]]},{"id":"f1a14f54.ea355","type":"time-range-switch","z":"6e3c7fcf.e7591","name":"","lat":"47.38089","lon":"8.48364","startTime":"09:00","endTime":"15:00","startOffset":0,"endOffset":0,"x":670,"y":300,"wires":[["f60d8569.a31ce8"],["d7a853b9.93925"]]},{"id":"43a3faa9.4272b4","type":"api-call-service","z":"6e3c7fcf.e7591","name":"Telegram Log","server":"78fe396.483dac8","service_domain":"telegram_bot","service":"send_message","data":"{\"message\":\"10am trigger to open blinds has fired\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":290,"y":220,"wires":[[]]},{"id":"d7a853b9.93925","type":"api-call-service","z":"6e3c7fcf.e7591","name":"Telegram Log","server":"78fe396.483dac8","service_domain":"telegram_bot","service":"send_message","data":"{\"message\":\"Not opening blinds because it's outside of the time frame of 9am-15pm\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":880,"y":180,"wires":[[]]},{"id":"213cd764.94a2f8","type":"api-call-service","z":"6e3c7fcf.e7591","name":"Telegram Log","server":"78fe396.483dac8","service_domain":"telegram_bot","service":"send_message","data":"{\"message\":\"Not opening the living room blinds because someones's home\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1100,"y":320,"wires":[[]]},{"id":"b94a88b0.eff1c8","type":"api-call-service","z":"d3ff7562.eebf38","name":"Telegram Log","server":"78fe396.483dac8","service_domain":"telegram_bot","service":"send_message","data":"{\"message\":\"Not launching Roomba because someone's home\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":570,"y":80,"wires":[[]]},{"id":"516a181d.7aec68","type":"api-call-service","z":"6e3c7fcf.e7591","name":"Telegram Log","server":"78fe396.483dac8","service_domain":"telegram_bot","service":"send_message","data":"{\"message\":\"Loggia blind is already open\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":670,"y":140,"wires":[[]]},{"id":"8629c031.ac58c","type":"api-call-service","z":"6e3c7fcf.e7591","name":"Telegram Log","server":"78fe396.483dac8","service_domain":"telegram_bot","service":"send_message","data":"{\"message\":\"Living room blind is already open\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":670,"y":180,"wires":[[]]},{"id":"545f5cab.1df934","type":"api-call-service","z":"423c527d.a422fc","name":"Telegram Log","server":"78fe396.483dac8","service_domain":"telegram_bot","service":"send_message","data":"{\"message\":\"Alarm Clock triggered\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":720,"y":70,"wires":[[]]},{"id":"7f06dd0f.f01a24","type":"api-call-service","z":"423c527d.a422fc","name":"Telegram Log","server":"78fe396.483dac8","service_domain":"telegram_bot","service":"send_message","data":"{\"message\":\"Alarm Clock: No occupancy detected\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1020,"y":30,"wires":[[]]},{"id":"c97842b0.76d3","type":"api-call-service","z":"d3ff7562.eebf38","name":"Telegram Log","server":"78fe396.483dac8","service_domain":"telegram_bot","service":"send_message","data":"{\"message\":\"The washing machine or dryer have finished!\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":470,"y":690,"wires":[[]]},{"id":"e641380f.253d28","type":"api-call-service","z":"423c527d.a422fc","name":"Turn Relay Off","server":"78fe396.483dac8","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"input_boolean.homekit_alarm_clock_trigger_relay\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1260,"y":370,"wires":[[]]},{"id":"9a02837f.300ba","type":"inject","z":"423c527d.a422fc","name":"Current time","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":60,"wires":[["a75dacbf.0a632"]]},{"id":"a75dacbf.0a632","type":"api-current-state","z":"423c527d.a422fc","name":"alarm enabled?","server":"78fe396.483dac8","outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is_not","override_topic":false,"entity_id":"input_boolean.alarm_clock_enabled","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":320,"y":60,"wires":[["7167885b.43cc38"],[]],"outputLabels":["true","false"]},{"id":"8a7dcc55.c68e3","type":"api-current-state","z":"423c527d.a422fc","name":"work week alarm","server":"78fe396.483dac8","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is_not","override_topic":false,"entity_id":"input_datetime.work_week_alarm","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":300,"y":120,"wires":[["63d54b73.ce88b4"]],"outputLabels":["true","false"]},{"id":"73be7a52.f99c34","type":"api-current-state","z":"423c527d.a422fc","name":"weekend alarm","server":"78fe396.483dac8","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is_not","override_topic":false,"entity_id":"input_datetime.weekend_alarm","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":290,"y":160,"wires":[["63d54b73.ce88b4"]],"outputLabels":["true"]},{"id":"7167885b.43cc38","type":"weekday","z":"423c527d.a422fc","name":"is weekday?","sun":false,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":false,"x":120,"y":140,"wires":[["8a7dcc55.c68e3"],["73be7a52.f99c34"]],"outputLabels":["weekday","weekend"]},{"id":"63d54b73.ce88b4","type":"function","z":"423c527d.a422fc","name":"check alarm","func":"var now = new Date();\nvar hour = now.getHours();\nvar minute = now.getMinutes();\n\nif(hour.toString().length == 1) {\n    var hour = '0'+hour;\n}\n\nif(minute.toString().length == 1) {\n    var minute = '0'+minute;\n}\nvar currentTimeString = hour+':'+minute+':00';\n\nif(msg.data.state == currentTimeString){\n    msg.payload = true;\n} else {\n    msg.payload = false;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":160,"wires":[["5148f55d.6b534c"]]},{"id":"5148f55d.6b534c","type":"switch","z":"423c527d.a422fc","name":"is triggered","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":510,"y":100,"wires":[["1d2c5c55.314864","545f5cab.1df934"]]},{"id":"9e4938a1.a731b8","type":"api-call-service","z":"7d4c9938.2a0338","name":"Netflix Red Tap","server":"78fe396.483dac8","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.tv_lightstrip\",\"rgb_color\":[255,43,0],\"transition\":10,\"brightness\":241}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1360,"y":260,"wires":[[]]},{"id":"f6d56ec6.908fa","type":"trigger","z":"7d4c9938.2a0338","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"20","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":1350,"y":300,"wires":[["25fa21c2.ca683e"]]},{"id":"25fa21c2.ca683e","type":"api-call-service","z":"7d4c9938.2a0338","name":"Turn light off","server":"78fe396.483dac8","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.tv_lightstrip\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1510,"y":300,"wires":[[]]},{"id":"1d7d7f8c.83db3","type":"server-state-changed","z":"d3ff7562.eebf38","name":"Hue Go","server":"78fe396.483dac8","entityidfilter":"light.hue_go","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":90,"y":1240,"wires":[["9d8458b9.1805a8"]]},{"id":"9d8458b9.1805a8","type":"switch","z":"d3ff7562.eebf38","name":"has turned on?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":240,"y":1240,"wires":[["8224260c.d27cb8"],["32bfc14f.6ba4de"]]},{"id":"8224260c.d27cb8","type":"api-call-service","z":"d3ff7562.eebf38","name":"Turn Aurora on","server":"78fe396.483dac8","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.nanoleaf\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":440,"y":1220,"wires":[[]]},{"id":"32bfc14f.6ba4de","type":"api-call-service","z":"d3ff7562.eebf38","name":"Turn Aurora off","server":"78fe396.483dac8","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.nanoleaf\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":440,"y":1260,"wires":[[]]},{"id":"8815ce5c.99928","type":"server-state-changed","z":"ce35d200.18817","name":"Entrance door","server":"78fe396.483dac8","entityidfilter":"binary_sensor.entrance_door","entityidfiltertype":"substring","outputinitially":false,"state_type":"habool","haltifstate":"","halt_if_type":"","halt_if_compare":"is","outputs":1,"x":130,"y":120,"wires":[["c30a0948.6372c8"]]},{"id":"c30a0948.6372c8","type":"switch","z":"ce35d200.18817","name":"opens","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":279.5,"y":120,"wires":[["6eefae60.3d2d5","87e9d7b8.c59e28"]]},{"id":"cdf5a30e.068da","type":"api-call-service","z":"ce35d200.18817","name":"Set Volume","server":"78fe396.483dac8","service_domain":"media_player","service":"volume_set","data":"{\"entity_id\":\"media_player.bathroom\",\"volume_level\":0.5}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":721.5,"y":122,"wires":[["2f983cc3.99fd64","2c5475b7.8e398a"]]},{"id":"77a024f3.4773cc","type":"api-call-service","z":"ce35d200.18817","name":"Set Volume","server":"78fe396.483dac8","service_domain":"media_player","service":"volume_set","data":"{\"entity_id\":\"media_player.bathroom\",\"volume_level\":0.3}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":931.5,"y":202,"wires":[[]]},{"id":"b215a410.cee808","type":"trigger","z":"ce35d200.18817","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"2","extend":false,"units":"min","reset":"","bytopic":"all","name":"","x":751.5,"y":202,"wires":[["77a024f3.4773cc"]]},{"id":"966da4a8.1a1fb8","type":"api-call-service","z":"ce35d200.18817","name":"broadcast","server":"78fe396.483dac8","service_domain":"tts","service":"amazon_polly_say","data":"{\"entity_id\":\"media_player.bathroom\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1651.5,"y":112,"wires":[[]]},{"id":"d89175f9.fa3d28","type":"function","z":"ce35d200.18817","name":"Welcome Message","func":"var currentTime = new Date().toLocaleTimeString([], {hour: '2-digit', minute:'2-digit'});\n\nvar greetings = [\n    'Welcome home!',\n    'Welcome back!'\n]\nvar randomGreeting = greetings[Math.floor(Math.random() * greetings.length)];\n\nvar tempOutside = msg.data.outdoor.state;\nvar tempInside = msg.data.indoor.state;\n\nvar message = `\n<speak>\n    <p>${randomGreeting}</p>\n    <p>It is now ${currentTime} </p>\n      <p>The temperature inside is ${tempInside}°, whereas outside it is ${tempOutside}°.</p>\n</speak>\n`\n\nmsg.payload =\n    {\n        \"data\":\n        {\n            \"message\": message\n        }\n        \n    }\n\nreturn msg;","outputs":1,"noerr":0,"x":1481.5,"y":112,"wires":[["966da4a8.1a1fb8"]]},{"id":"2f983cc3.99fd64","type":"api-current-state","z":"ce35d200.18817","name":"get outdoor temperature","server":"78fe396.483dac8","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.outside_temperature","state_type":"num","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":961.5,"y":92,"wires":[["4c2a796e.fd8f08"]]},{"id":"2c5475b7.8e398a","type":"api-current-state","z":"ce35d200.18817","name":"get indoor temperature","server":"78fe396.483dac8","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.netatmo_sixtymeters_indoor_temperature","state_type":"num","override_payload":true,"override_data":true,"x":951.5,"y":142,"wires":[["c654f4ba.8286a8"]]},{"id":"d75aada9.566fb","type":"join","z":"ce35d200.18817","name":"","mode":"custom","build":"merged","property":"data","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1311.5,"y":112,"wires":[["d89175f9.fa3d28"]]},{"id":"4c2a796e.fd8f08","type":"change","z":"ce35d200.18817","name":"data.outdoor","rules":[{"t":"move","p":"data","pt":"msg","to":"data.outdoor","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1161.5,"y":92,"wires":[["d75aada9.566fb"]]},{"id":"c654f4ba.8286a8","type":"change","z":"ce35d200.18817","name":"data.indoor","rules":[{"t":"move","p":"data","pt":"msg","to":"data.indoor","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1161.5,"y":142,"wires":[["d75aada9.566fb"]]},{"id":"783c11e5.0d766","type":"server-state-changed","z":"ce35d200.18817","name":"Entrance Motion","server":"78fe396.483dac8","entityidfilter":"binary_sensor.entrance_logi_motion","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"","halt_if_type":"","halt_if_compare":"is","outputs":1,"x":138,"y":315,"wires":[["7d8a1188.47cdd"]]},{"id":"7d8a1188.47cdd","type":"switch","z":"ce35d200.18817","name":"detected","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":313.5,"y":315,"wires":[["6eefae60.3d2d5"],["4fed0d6a.2f8f24"]]},{"id":"ccaa5b92.6c0808","type":"time-range-switch","z":"ce35d200.18817","name":"","lat":"47.38089","lon":"8.48364","startTime":"07:00","endTime":"22:30","startOffset":0,"endOffset":0,"x":671.5,"y":302,"wires":[["eb8946b5.671eb8"],["10db8870.e03238"]]},{"id":"eb8946b5.671eb8","type":"api-call-service","z":"ce35d200.18817","name":"Entrance Light DAY ON","server":"78fe396.483dac8","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.entrance\",\"brightness\":254,\"color_temp\":379}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":897.5,"y":282,"wires":[[]]},{"id":"10db8870.e03238","type":"api-call-service","z":"ce35d200.18817","name":"Entrance Light NIGHT ON","server":"78fe396.483dac8","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.entrance\",\"brightness\":82,\"color_temp\":431}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":898,"y":329,"wires":[[]]},{"id":"4fed0d6a.2f8f24","type":"trigger","z":"ce35d200.18817","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"3","extend":false,"units":"min","reset":"","bytopic":"all","name":"","x":674,"y":400,"wires":[["74191056.eb5ca"]]},{"id":"74191056.eb5ca","type":"api-call-service","z":"ce35d200.18817","name":"Entrance Light OFF","server":"78fe396.483dac8","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.entrance\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":877,"y":400,"wires":[[]]},{"id":"3520901e.7400f","type":"change","z":"ce35d200.18817","name":"reset timer","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":676,"y":349,"wires":[["4fed0d6a.2f8f24"]]},{"id":"6eefae60.3d2d5","type":"switch","z":"ce35d200.18817","name":"is exiting?","property":"exiting","propertyType":"global","rules":[{"t":"true"},{"t":"false"},{"t":"null"}],"checkall":"true","repair":false,"outputs":3,"x":491.5,"y":312,"wires":[[],["ccaa5b92.6c0808","3520901e.7400f"],["ccaa5b92.6c0808","3520901e.7400f"]]},{"id":"87e9d7b8.c59e28","type":"subflow:27f43369.1137ec","z":"ce35d200.18817","name":"","x":501.5,"y":122,"wires":[["cdf5a30e.068da","b215a410.cee808"],[]]},{"id":"17497a64.bc4de6","type":"function","z":"423c527d.a422fc","name":"Create message","func":"var taskMessage = msg.payload.data.task_message;\nvar tempOutside = msg.data.outdoor.state;\n\nvar message = `\n<speak>\n    <p>Good morning Theo.</p>\n    <p>Outside it is currently ${tempOutside}° warm.</p>\n    ${taskMessage}\n</speak>\n`\n\nmsg.payload =\n    {\n        \"data\":\n        {\n            \"message\": message\n        }\n        \n    }\n\nreturn msg;","outputs":1,"noerr":0,"x":1280,"y":640,"wires":[["983288ed.15bb08"]]},{"id":"f68df361.78477","type":"inject","z":"423c527d.a422fc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":320,"y":640,"wires":[["6a4f6bf8.7eef94"]]},{"id":"60db98cb.674b78","type":"api-current-state","z":"423c527d.a422fc","name":"get outdoor temperature","server":"78fe396.483dac8","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.outside_temperature","state_type":"num","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":750,"y":700,"wires":[["25ba811f.0989ae"]]},{"id":"25ba811f.0989ae","type":"change","z":"423c527d.a422fc","name":"data.outdoor","rules":[{"t":"move","p":"data","pt":"msg","to":"data.outdoor","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":700,"wires":[["b10f16fd.17ccd8"]]},{"id":"b10f16fd.17ccd8","type":"join","z":"423c527d.a422fc","name":"","mode":"custom","build":"merged","property":"data","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1110,"y":640,"wires":[["17497a64.bc4de6"]]},{"id":"3f61b70b.f50308","type":"api-current-state","z":"423c527d.a422fc","name":"get outdoor temperature","server":"78fe396.483dac8","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sun.sun","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":750,"y":760,"wires":[["5ef15d47.7a9894"]]},{"id":"5ef15d47.7a9894","type":"change","z":"423c527d.a422fc","name":"data.sun","rules":[{"t":"move","p":"data","pt":"msg","to":"data.sun","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":760,"wires":[[]]},{"id":"85ff61bd.80eda","type":"server-state-changed","z":"d3ff7562.eebf38","name":"Kitchen Devices Motion","server":"78fe396.483dac8","entityidfilter":"binary_sensor.kitchen_devices_presence","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":140,"y":300,"wires":[["f47b3f7.5fbd4c"]]},{"id":"f47b3f7.5fbd4c","type":"switch","z":"d3ff7562.eebf38","name":"detected","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":340,"y":300,"wires":[["efb1f287.eadc5","bb905d7b.ae76f"],["72158545.1954ec"]]},{"id":"efb1f287.eadc5","type":"api-call-service","z":"d3ff7562.eebf38","name":"Kitchen Utilities ON","server":"78fe396.483dac8","service_domain":"switch","service":"turn_on","data":"{\"entity_id\":\"switch.mystromkitchen\"}","mergecontext":"","output_location":"","output_location_type":"none","x":590,"y":280,"wires":[[]]},{"id":"bb905d7b.ae76f","type":"change","z":"d3ff7562.eebf38","name":"reset timer","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":320,"wires":[["72158545.1954ec"]]},{"id":"6bc00530.fa108c","type":"api-call-service","z":"d3ff7562.eebf38","name":"Kitchen Utilities OFF","server":"78fe396.483dac8","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.mystromkitchen\"}","mergecontext":"","output_location":"","output_location_type":"none","x":760,"y":360,"wires":[[]]},{"id":"72158545.1954ec","type":"trigger","z":"d3ff7562.eebf38","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"5","extend":false,"units":"min","reset":"","bytopic":"all","name":"","x":570,"y":360,"wires":[["6bc00530.fa108c"]]},{"id":"5080fa72.d39e24","type":"api-call-service","z":"d3ff7562.eebf38","name":"Telegram Log","server":"78fe396.483dac8","service_domain":"telegram_bot","service":"send_message","data":"{\"message\":\"Started the Roomba due to the exit->cleaning button!\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":680,"y":1040,"wires":[[]]},{"id":"8cc952d3.8b182","type":"api-call-service","z":"d3ff7562.eebf38","name":"bed occupied","server":"78fe396.483dac8","service_domain":"input_boolean","service":"turn_on","data":"{\"entity_id\":\"input_boolean.bed_occupied_input\"}","mergecontext":"","output_location":"","output_location_type":"none","x":620,"y":480,"wires":[[]]},{"id":"8cac1b54.768a28","type":"switch","z":"d3ff7562.eebf38","name":"sleep detected","property":"payload.event.state","propertyType":"msg","rules":[{"t":"eq","v":"sleep_started","vt":"str"},{"t":"eq","v":"sleep_ended","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":420,"y":500,"wires":[["8cc952d3.8b182","e02f2d1a.79e44"],["1306bb69.89c9d5"]]},{"id":"1306bb69.89c9d5","type":"api-call-service","z":"d3ff7562.eebf38","name":"bed not occupied","server":"78fe396.483dac8","service_domain":"input_boolean","service":"turn_off","data":"{\"entity_id\":\"input_boolean.bed_occupied_input\"}","mergecontext":"","output_location":"","output_location_type":"none","x":630,"y":520,"wires":[[]]},{"id":"e02f2d1a.79e44","type":"time-range-switch","z":"d3ff7562.eebf38","name":"","lat":"47.38089","lon":"8.48364","startTime":"21:00","endTime":"06:00","startOffset":0,"endOffset":0,"x":610,"y":440,"wires":[["cc7a8b41.9be978"],[]]},{"id":"cc7a8b41.9be978","type":"api-call-service","z":"d3ff7562.eebf38","name":"Turn all lights off","server":"78fe396.483dac8","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"all\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":780,"y":440,"wires":[[]]},{"id":"516e2c4f.b76a44","type":"api-call-service","z":"423c527d.a422fc","name":"Turn all lights off","server":"78fe396.483dac8","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.bedroom\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1240,"y":540,"wires":[[]]},{"id":"f4c0235f.bd54f","type":"api-call-service","z":"5ecca76c.9de098","name":"Water the plants","server":"78fe396.483dac8","service_domain":"switch","service":"turn_on","data":"{\"entity_id\":\"switch.mystromloggiawaterpump\"}","mergecontext":"","output_location":"","output_location_type":"none","x":300,"y":120,"wires":[[]]},{"id":"288fb546.a6caca","type":"inject","z":"5ecca76c.9de098","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 07 * * 1,3,4,6","once":false,"onceDelay":0.1,"x":150,"y":540,"wires":[[]]},{"id":"b95310e6.6ba33","type":"cron","z":"5ecca76c.9de098","name":"Every odd day","crontab":"00 7 1-31/2 * *","x":110,"y":120,"wires":[["f4c0235f.bd54f"]]}]