node-red/flows.json
[{"id":"d3ff7562.eebf38","type":"tab","label":"Main","disabled":false,"info":""},{"id":"7d4c9938.2a0338","type":"tab","label":"Entertainment","disabled":false,"info":""},{"id":"6e3c7fcf.e7591","type":"tab","label":"Blinds","disabled":false,"info":""},{"id":"5ecca76c.9de098","type":"tab","label":"Loggia","disabled":false,"info":""},{"id":"423c527d.a422fc","type":"tab","label":"Bedroom","disabled":false,"info":""},{"id":"260e105e.72e61","type":"tab","label":"Bathroom","disabled":false,"info":""},{"id":"ce35d200.18817","type":"tab","label":"Entrance","disabled":false,"info":""},{"id":"2614aeae.a90552","type":"tab","label":"Security","disabled":false,"info":""},{"id":"e550f91e.577438","type":"tab","label":"Tracking","disabled":false,"info":""},{"id":"27f43369.1137ec","type":"subflow","name":"apartment occupied?","info":"","category":"","in":[{"x":181.5,"y":69,"wires":[{"id":"cbbdb47d.a4ed48"}]}],"out":[{"x":700,"y":40,"wires":[{"id":"1792a55d.ddc24b","port":0}]},{"x":700,"y":90,"wires":[{"id":"1792a55d.ddc24b","port":1}]}],"outputLabels":["clear","occupied"]},{"id":"7fa54d71.595124","type":"subflow","name":"alarm state active","info":"","category":"","in":[{"x":220,"y":300,"wires":[{"id":"569f155d.bbd95c"}]}],"out":[{"x":540,"y":350,"wires":[{"id":"b631dff9.45941","port":0}]}]},{"id":"78fe396.483dac8","type":"server","z":"","name":"Home Assistant","legacy":false,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true},{"id":"3fdc83d9.15020c","type":"samsung-tv","z":"","name":"samsung-tv","address":"192.168.178.20"},{"id":"527c202d.c9b79","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"d94ff362.a3f28","type":"myStrom Config Switch","z":"","host":"192.168.178.78","mac":"84:0D:8E:3D:FB:88","name":"aquarium"},{"id":"74556465.5e1fac","type":"api-call-service","z":"d3ff7562.eebf38","name":"Roomba ON","server":"78fe396.483dac8","version":1,"debugenabled":false,"service_domain":"vacuum","service":"start","entityId":"vacuum.ghost","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":570,"y":40,"wires":[[]]},{"id":"d5a40336.045ed","type":"inject","z":"d3ff7562.eebf38","name":"10am weekdays","repeat":"","crontab":"00 10 * * 1,2,3,4,5","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":144.5,"y":60,"wires":[["b816139a.b3f9e"]]},{"id":"cbbdb47d.a4ed48","type":"api-current-state","z":"27f43369.1137ec","name":"apartment occupancy","server":"78fe396.483dac8","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"binary_sensor.apartment_occupancy","state_type":"habool","override_payload":true,"override_data":true,"x":361.5,"y":69,"wires":[["1792a55d.ddc24b"]]},{"id":"1792a55d.ddc24b","type":"switch","z":"27f43369.1137ec","name":"is occupied?","property":"payload","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":554.5,"y":69,"wires":[[],[]]},{"id":"dd3a875c.3ca6f8","type":"server-state-changed","z":"d3ff7562.eebf38","name":"Kitchen Motion","server":"78fe396.483dac8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.kitchen_sink_motion","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":100,"y":180,"wires":[["3e0b850.2c5117c"]]},{"id":"3e0b850.2c5117c","type":"switch","z":"d3ff7562.eebf38","name":"detected","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":280,"y":180,"wires":[["5f5c835e.99396c","2ebc2530.aba6ea"],["8aa7dbfd.4c8878"]]},{"id":"2ebc2530.aba6ea","type":"api-call-service","z":"d3ff7562.eebf38","name":"Overhead Light ON","server":"78fe396.483dac8","version":1,"service_domain":"light","service":"turn_on","entityId":"light.kitchen_overhead_light","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":530,"y":140,"wires":[[]]},{"id":"8aa7dbfd.4c8878","type":"trigger","z":"d3ff7562.eebf38","name":"","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"3","extend":false,"units":"min","reset":"","bytopic":"all","outputs":1,"x":510,"y":220,"wires":[["8ddc636e.df38f"]]},{"id":"8ddc636e.df38f","type":"api-call-service","z":"d3ff7562.eebf38","name":"Overhead Light OFF","server":"78fe396.483dac8","version":1,"service_domain":"light","service":"turn_off","entityId":"light.kitchen_overhead_light","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":720,"y":220,"wires":[[]]},{"id":"5f5c835e.99396c","type":"change","z":"d3ff7562.eebf38","name":"reset timer","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":180,"wires":[["8aa7dbfd.4c8878"]]},{"id":"5b03e1a3.813c6","type":"http request","z":"7d4c9938.2a0338","name":"Netflix","method":"POST","ret":"txt","url":"http://192.168.178.20:8080/ws/app/Netflix","tls":"","x":1140,"y":300,"wires":[["9e4938a1.a731b8","f6d56ec6.908fa"]]},{"id":"140749a4.0fed96","type":"api-call-service","z":"7d4c9938.2a0338","name":"TV ON","server":"78fe396.483dac8","service_domain":"remote","service":"send_command","data":"{\"entity_id\":\"remote.harmony_hub\",\"device\":\"Samsung TV\",\"command\":[\"PowerOn\"],\"delay_secs\":0.6}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":810,"y":230,"wires":[["125d603.261a1a"]]},{"id":"761bf111.d7e1d","type":"api-current-state","z":"7d4c9938.2a0338","name":"Samsung TV","server":"78fe396.483dac8","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"binary_sensor.samsung_tv","state_type":"str","override_payload":true,"override_data":true,"x":610,"y":340,"wires":[["2d8645dd.cbd9fa"]]},{"id":"2d8645dd.cbd9fa","type":"switch","z":"7d4c9938.2a0338","name":"is on?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":670,"y":260,"wires":[["140749a4.0fed96"],["c0d4c663.216208"]]},{"id":"125d603.261a1a","type":"trigger","z":"7d4c9938.2a0338","name":"wait 3s","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"3","extend":false,"units":"s","reset":"","bytopic":"all","outputs":1,"x":940,"y":230,"wires":[["c0d4c663.216208"]]},{"id":"7ed0d1c0.fdf53","type":"http request","z":"7d4c9938.2a0338","name":"Home","method":"POST","ret":"obj","url":"http://192.168.178.20:8080/ws/app/YouTube","tls":"","x":1060,"y":370,"wires":[["ca9d6a57.4323b8"]]},{"id":"ca9d6a57.4323b8","type":"trigger","z":"7d4c9938.2a0338","name":"wait 2s","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"2","extend":false,"units":"s","reset":"","bytopic":"all","outputs":1,"x":1190,"y":370,"wires":[["a5d34e3d.aef63"]]},{"id":"a5d34e3d.aef63","type":"api-call-service","z":"7d4c9938.2a0338","name":"Switch to Zattoo","server":"78fe396.483dac8","version":1,"debugenabled":false,"service_domain":"remote","service":"send_command","entityId":"","data":"{\"device\":\"Samsung TV\",\"command\":[\"SmartHub\",\"DirectionRight\",\"Select\"],\"delay_secs\":1}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1350,"y":370,"wires":[["c2f374af.75b428"]]},{"id":"f4c935e3.63f598","type":"http request","z":"7d4c9938.2a0338","name":"Zattoo","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.178.20:8080/ws/app/Zattoo","tls":"","persist":false,"proxy":"","authType":"","x":800,"y":400,"wires":[["dcfdd847.af5008"]]},{"id":"dcfdd847.af5008","type":"switch","z":"7d4c9938.2a0338","name":"is active","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"<state>stopped</state>","vt":"str"},{"t":"cont","v":"<state>running</state>","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":930,"y":400,"wires":[["7ed0d1c0.fdf53"],["c2f374af.75b428"]]},{"id":"f501d8cb.053688","type":"change","z":"7d4c9938.2a0338","name":"BBC World News","rules":[{"t":"set","p":"tvchannel","pt":"msg","to":"1","tot":"str"},{"t":"set","p":"app","pt":"msg","to":"zattoo","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":240,"wires":[["761bf111.d7e1d"]]},{"id":"a638bfe8.496cd","type":"api-call-service","z":"7d4c9938.2a0338","name":"Switch Channel","server":"78fe396.483dac8","service_domain":"remote","service":"send_command","data":"","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1010,"y":490,"wires":[[]]},{"id":"88ba2f44.63fba","type":"function","z":"7d4c9938.2a0338","name":"Channel Msg","func":"var command = msg.tvchannel\n\nmsg.payload =\n    {\n        \"domain\":\"remote\",\n        \"service\":\"send_command\",\n        \"data\":{\n            \"device\": \"Samsung TV\",\n            \"command\": [\n                command\n            ],\n            \"delay_secs\": 1\n        }\n    }\n\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":490,"wires":[["a638bfe8.496cd"]]},{"id":"c2f374af.75b428","type":"change","z":"7d4c9938.2a0338","name":"Channel Manager","rules":[],"action":"","property":"","from":"","to":"","reg":false,"x":1130,"y":420,"wires":[["88ba2f44.63fba","613b88ed.b9ef28"]]},{"id":"c0d4c663.216208","type":"switch","z":"7d4c9938.2a0338","name":"Chosen app?","property":"app","propertyType":"msg","rules":[{"t":"eq","v":"youtube","vt":"str"},{"t":"eq","v":"netflix","vt":"str"},{"t":"eq","v":"zattoo","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":880,"y":300,"wires":[["c15b7ba5.953c18"],["5b03e1a3.813c6"],["f4c935e3.63f598"]]},{"id":"c15b7ba5.953c18","type":"http request","z":"7d4c9938.2a0338","name":"YouTube","method":"POST","ret":"txt","paytoqs":false,"url":"http://192.168.178.20:8080/ws/app/YouTube","tls":"","persist":false,"proxy":"","authType":"","x":1150,"y":260,"wires":[[]]},{"id":"613b88ed.b9ef28","type":"api-call-service","z":"7d4c9938.2a0338","name":"Reset Channel Group","server":"78fe396.483dac8","version":0,"service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"group.tv_channels\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1370,"y":430,"wires":[[]]},{"id":"b25553b2.1f43","type":"switch","z":"7d4c9938.2a0338","name":"turn on?","property":"payload.event.tv_action","propertyType":"msg","rules":[{"t":"eq","v":"tv_off","vt":"str"},{"t":"eq","v":"tv_on","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":110,"wires":[["775f25a7.89c9ec"],["f501d8cb.053688"]]},{"id":"775f25a7.89c9ec","type":"api-call-service","z":"7d4c9938.2a0338","name":"Turn TV OFF","server":"78fe396.483dac8","version":"1","debugenabled":false,"service_domain":"remote","service":"send_command","entityId":"remote.harmony_hub","data":"{\"device\":\"Samsung TV\",\"command\":[\"PowerOff\"],\"delay_secs\":0.6}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":520,"y":110,"wires":[[]]},{"id":"1a4d1ac8.a678e5","type":"server-events","z":"d3ff7562.eebf38","name":"IFTTT","server":"78fe396.483dac8","event_type":"ifttt_webhook_received","x":90,"y":480,"wires":[["e4677a2c.2fb918"]]},{"id":"e4677a2c.2fb918","type":"switch","z":"d3ff7562.eebf38","name":"","property":"payload.event.controlDomain","propertyType":"msg","rules":[{"t":"eq","v":"tv","vt":"str"},{"t":"eq","v":"sleep","vt":"str"},{"t":"eq","v":"printer","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":250,"y":480,"wires":[["3284503b.0166a"],["8cac1b54.768a28"],["775f637d.fe8cdc"]]},{"id":"1a982428.5111cc","type":"link in","z":"7d4c9938.2a0338","name":"IFTTT TV Events","links":["3284503b.0166a"],"x":95,"y":420,"wires":[["51b2f8ef.898868"]],"outputLabels":["TV Events"]},{"id":"3284503b.0166a","type":"link out","z":"d3ff7562.eebf38","name":"IFTTT TV Events Output","links":["1a982428.5111cc"],"x":355,"y":460,"wires":[]},{"id":"2400d95c.a0bbc6","type":"change","z":"7d4c9938.2a0338","name":"Next Channel","rules":[{"t":"set","p":"tvchannel","pt":"msg","to":"ChannelUp","tot":"str"},{"t":"set","p":"app","pt":"msg","to":"zattoo","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":400,"wires":[["761bf111.d7e1d"]]},{"id":"7e74e960.187558","type":"change","z":"7d4c9938.2a0338","name":"Last Channel","rules":[{"t":"set","p":"tvchannel","pt":"msg","to":"ChannelDown","tot":"str"},{"t":"set","p":"app","pt":"msg","to":"zattoo","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":440,"wires":[["761bf111.d7e1d"]]},{"id":"51b2f8ef.898868","type":"switch","z":"7d4c9938.2a0338","name":"Cmd Interpreter","property":"payload.event.tv","propertyType":"msg","rules":[{"t":"eq","v":"nextchannel","vt":"str"},{"t":"eq","v":"lastchannel","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":230,"y":420,"wires":[["2400d95c.a0bbc6"],["7e74e960.187558"]]},{"id":"8d3b36f.f86ddc8","type":"server-events","z":"7d4c9938.2a0338","name":"TV On/Off Events","server":"78fe396.483dac8","event_type":"ACTION_TV_STATE_CHANGE","x":100,"y":110,"wires":[["b25553b2.1f43"]]},{"id":"91ed1378.7109","type":"api-current-state","z":"d3ff7562.eebf38","name":"Tasks due today","server":"78fe396.483dac8","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"calendar.due_today","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":280,"y":640,"wires":[["26a905ef.09954a"]]},{"id":"a5778746.a7b548","type":"api-call-service","z":"d3ff7562.eebf38","name":"broadcast","server":"78fe396.483dac8","service_domain":"tts","service":"amazon_polly_say","data":"{\"entity_id\":\"media_player.google_home\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":810,"y":640,"wires":[[]]},{"id":"7eaeb92a.f6b628","type":"function","z":"d3ff7562.eebf38","name":"Tasks message","func":"\nvar allTasks = msg.data.attributes.all_tasks;\n\nvar taskText = \"\";\nallTasks.forEach(function (value) {\n  taskText += value + \", \"\n});\n\n//Replace characters that Amazon Polly can't deal with\ntaskText = taskText.replace(\"&\", \"and\")\n\nvar message = `\n<speak>\n    <p>You have ${allTasks.length} tasks scheduled for today.</p>\n    <p>These are the tasks: ${taskText}</p>\n</speak>\n`\n\nmsg.payload =\n    {\n        \"data\":\n        {\n            \"message\": message\n        }\n        \n    }\n\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":620,"wires":[["a5778746.a7b548"]]},{"id":"3bdb775e.c3c868","type":"inject","z":"d3ff7562.eebf38","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":640,"wires":[["91ed1378.7109"]]},{"id":"26a905ef.09954a","type":"switch","z":"d3ff7562.eebf38","name":"have tasks","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":450,"y":640,"wires":[["7eaeb92a.f6b628"],["ef0c5bf4.549e88"]],"outputLabels":["true","false"]},{"id":"ef0c5bf4.549e88","type":"function","z":"d3ff7562.eebf38","name":"No tasks","func":"var message = `\n<speak>\n    <p>You have no tasks scheduled for today.</p>\n</speak>\n`\n\nmsg.payload =\n    {\n        \"data\":\n        {\n            \"message\": message\n        }\n        \n    }\n\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":660,"wires":[["a5778746.a7b548"]]},{"id":"b816139a.b3f9e","type":"subflow:27f43369.1137ec","z":"d3ff7562.eebf38","name":"","x":360,"y":60,"wires":[["74556465.5e1fac"],["b94a88b0.eff1c8"]]},{"id":"c90ddae.bc85728","type":"api-call-service","z":"423c527d.a422fc","name":"Bedroom Lights ON","server":"78fe396.483dac8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.bedroom_light_group","data":"{\"rgb_color\":[58,189,255],\"transition\":0,\"brightness\":1}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1030,"y":140,"wires":[["2593bf4d.0d296"]]},{"id":"2593bf4d.0d296","type":"trigger","z":"423c527d.a422fc","name":"","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"2","extend":false,"units":"s","reset":"","bytopic":"all","outputs":1,"x":1230,"y":140,"wires":[["f171c58b.a86c08"]]},{"id":"112e8e71.4ac1a2","type":"api-call-service","z":"423c527d.a422fc","name":"Update Light","server":"78fe396.483dac8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.bedroom_light_group","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1407,"y":191,"wires":[["36baefae.94ed9"]]},{"id":"f171c58b.a86c08","type":"function","z":"423c527d.a422fc","name":"Blue Phase","func":"msg.payload =\n    {\n        \"domain\": \"light\",\n        \"service\": \"turn_on\",\n        \"data\":\n        {\n            \"entity_id\": \"light.bedroom\",\n            \"transition\": 10,\n            \"brightness\": 50,\n            \"rgb_color\": [58, 189, 255]\n        }\n        \n    }\n\nreturn msg;","outputs":1,"noerr":0,"x":1235,"y":191,"wires":[["112e8e71.4ac1a2"]]},{"id":"36baefae.94ed9","type":"trigger","z":"423c527d.a422fc","name":"","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"20","extend":false,"units":"s","reset":"","bytopic":"all","outputs":1,"x":1232,"y":235,"wires":[["454d9d05.c85bf4"]]},{"id":"454d9d05.c85bf4","type":"function","z":"423c527d.a422fc","name":"Bright Phase","func":"msg.payload =\n    {\n        \"domain\": \"light\",\n        \"service\": \"turn_on\",\n        \"data\":\n        {\n            \"entity_id\": \"light.bedroom\",\n            \"transition\": 20,\n            \"brightness\": 120,\n            \"rgb_color\": [146, 226, 255]\n        }\n        \n    }\n\nreturn msg;","outputs":1,"noerr":0,"x":1229,"y":282,"wires":[["3e9e8e1.395d572","210aa7f4.8059d8"]]},{"id":"3e9e8e1.395d572","type":"api-call-service","z":"423c527d.a422fc","name":"Update Light","server":"78fe396.483dac8","version":"1","debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.bedroom_light_group","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1412,"y":280,"wires":[[]]},{"id":"dbc2b13a.f20c6","type":"api-call-service","z":"423c527d.a422fc","name":"Click & Grow 9 ON","server":"78fe396.483dac8","service_domain":"switch","service":"turn_on","data":"{\"entity_id\":\"switch.mystromclickandgrow9\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1460,"y":430,"wires":[[]]},{"id":"13815998.415776","type":"api-call-service","z":"423c527d.a422fc","name":"Click & Grow 3 ON","server":"78fe396.483dac8","service_domain":"switch","service":"turn_on","data":"{\"entity_id\":\"switch.mystromclickandgrow3\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1462,"y":389,"wires":[[]]},{"id":"f378ce76.830d2","type":"change","z":"423c527d.a422fc","name":"Smart Garden","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1263.5,"y":412,"wires":[["13815998.415776","dbc2b13a.f20c6"]]},{"id":"beed78bc.6a50b8","type":"trigger","z":"423c527d.a422fc","name":"","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"5","extend":false,"units":"min","reset":"","bytopic":"all","outputs":1,"x":1053,"y":412,"wires":[["f378ce76.830d2","e641380f.253d28"]]},{"id":"210aa7f4.8059d8","type":"function","z":"423c527d.a422fc","name":"Set alarm_state triggered","func":"global.set('alarm_state', 'triggered');","outputs":1,"noerr":0,"x":1449,"y":322,"wires":[[]]},{"id":"ea99f1ad.d8975","type":"function","z":"423c527d.a422fc","name":"Reset alarm_state","func":"global.set('alarm_state', 'inactive');\nglobal.set('read_tasks', 'true');","outputs":1,"noerr":0,"x":1250,"y":490,"wires":[[]]},{"id":"dd928c2c.25ec7","type":"trigger","z":"423c527d.a422fc","name":"","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"1","extend":false,"units":"hr","reset":"","bytopic":"all","outputs":1,"x":1050,"y":490,"wires":[["ea99f1ad.d8975","516e2c4f.b76a44"]]},{"id":"1d2c5c55.314864","type":"subflow:27f43369.1137ec","z":"423c527d.a422fc","name":"","x":730,"y":120,"wires":[["b17aca82.d1b688","7f06dd0f.f01a24"],["c90ddae.bc85728","beed78bc.6a50b8","dd928c2c.25ec7"]]},{"id":"ed17765b.667578","type":"api-call-service","z":"423c527d.a422fc","name":"broadcast","server":"78fe396.483dac8","service_domain":"tts","service":"amazon_polly_say","data":"{\"entity_id\":\"media_player.google_home\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1290,"y":70,"wires":[[]]},{"id":"b17aca82.d1b688","type":"function","z":"423c527d.a422fc","name":"Alternate alarm: No occupancy","func":"var message = `\n<speak>\n    <p>Good morning! An alarm was scheduled, however I'm unable to detect apartment occupancy.</p>\n    <p>If you are in fact here, please make sure to connect to the wifi at your earliest convenience!</p>\n</speak>\n`\n\nmsg.payload =\n    {\n        \"data\":\n        {\n            \"message\": message\n        }\n        \n    }\n\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":70,"wires":[["ed17765b.667578"]]},{"id":"1cd30d6b.ce27e3","type":"server-state-changed","z":"423c527d.a422fc","name":"Bedroom Corridor Motion","server":"78fe396.483dac8","entityidfilter":"binary_sensor.bedroom_corridor_motion","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":160,"y":250,"wires":[["b07bb49f.c73718"]]},{"id":"569f155d.bbd95c","type":"function","z":"7fa54d71.595124","name":"alarm_state","func":"msg.alarm_state = global.get('alarm_state') || 'inactive';\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":300,"wires":[["b631dff9.45941"]]},{"id":"b631dff9.45941","type":"switch","z":"7fa54d71.595124","name":"was triggered","property":"alarm_state","propertyType":"msg","rules":[{"t":"eq","v":"triggered","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":380,"y":350,"wires":[[]]},{"id":"f639a82d.37ec38","type":"api-call-service","z":"423c527d.a422fc","name":"Living Room Lights ON","server":"78fe396.483dac8","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.living_room\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":390,"y":300,"wires":[[]]},{"id":"b07bb49f.c73718","type":"subflow:7fa54d71.595124","z":"423c527d.a422fc","name":"","x":390,"y":250,"wires":[["f639a82d.37ec38"]]},{"id":"2cb2daa8.4f01b6","type":"switch","z":"423c527d.a422fc","name":"has Kitchen Table Chair moved?","property":"payload.event.id","propertyType":"msg","rules":[{"t":"eq","v":"kitchen_table_chair","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":370,"y":440,"wires":[["420d6edf.8b25b"]]},{"id":"72779161.63772","type":"server-events","z":"423c527d.a422fc","name":"Dconz Event","server":"78fe396.483dac8","event_type":"deconz_event","x":120,"y":390,"wires":[["8ae2d0b1.0b119"]]},{"id":"6a4f6bf8.7eef94","type":"api-current-state","z":"423c527d.a422fc","name":"Tasks due today","server":"78fe396.483dac8","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"calendar.due_today","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":510,"y":570,"wires":[["acf96f3c.a1bed"]]},{"id":"983288ed.15bb08","type":"api-call-service","z":"423c527d.a422fc","name":"broadcast","server":"78fe396.483dac8","service_domain":"tts","service":"amazon_polly_say","data":"{\"entity_id\":\"media_player.home_hub\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1480,"y":640,"wires":[[]]},{"id":"aaeca2b1.7784c","type":"function","z":"423c527d.a422fc","name":"Has tasks","func":"\nvar allTasks = msg.data.attributes.all_tasks;\n\nvar taskText = \"\";\nallTasks.forEach(function (value) {\n  taskText += value + \", \"\n});\n\n//Replace characters that Amazon Polly can't deal with\ntaskText = taskText.replace(\"&\", \"and\")\n\nvar taskMessage = `\n    <p>You have ${allTasks.length} tasks scheduled for today.</p>\n    <p>These are the tasks: ${taskText}</p>\n`\n\nmsg.payload =\n    {\n        \"data\":\n        {\n            \"task_message\": taskMessage\n        }\n        \n    }\n\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":620,"wires":[["b10f16fd.17ccd8"]]},{"id":"acf96f3c.a1bed","type":"switch","z":"423c527d.a422fc","name":"have tasks","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":550,"y":640,"wires":[["aaeca2b1.7784c","60db98cb.674b78","3f61b70b.f50308"],["7e512cf1.0b7384","60db98cb.674b78","3f61b70b.f50308"]],"outputLabels":["true","false"]},{"id":"7e512cf1.0b7384","type":"function","z":"423c527d.a422fc","name":"No tasks","func":"var taskMessage = `\n    <p>Good morning Theo.</p>\n    <p>You have no tasks scheduled for today.</p>\n`\n\nmsg.payload =\n    {\n        \"data\":\n        {\n            \"task_message\": taskMessage\n        }\n        \n    }\n\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":660,"wires":[["b10f16fd.17ccd8"]]},{"id":"8ae2d0b1.0b119","type":"subflow:7fa54d71.595124","z":"423c527d.a422fc","name":"","x":330,"y":390,"wires":[["2cb2daa8.4f01b6"]]},{"id":"1615abe7.e45534","type":"api-call-service","z":"423c527d.a422fc","name":"Set Volume","server":"78fe396.483dac8","service_domain":"media_player","service":"volume_set","data":"{\"entity_id\":\"media_player.home_hub\",\"volume_level\":0.6}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":330,"y":570,"wires":[["6a4f6bf8.7eef94"]]},{"id":"420d6edf.8b25b","type":"function","z":"423c527d.a422fc","name":"read tasks","func":"msg.read_tasks = global.get('read_tasks') || 'true';\nglobal.set('read_tasks', 'false');\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":490,"wires":[["12fba262.ebc60e"]]},{"id":"12fba262.ebc60e","type":"switch","z":"423c527d.a422fc","name":"is set","property":"read_tasks","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":410,"y":490,"wires":[["1615abe7.e45534"]]},{"id":"b94a88b0.eff1c8","type":"api-call-service","z":"d3ff7562.eebf38","name":"Telegram Log","server":"78fe396.483dac8","version":"1","debugenabled":false,"service_domain":"telegram_bot","service":"send_message","entityId":"","data":"{\"message\":\"Not launching Roomba because someone's home\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":570,"y":80,"wires":[[]]},{"id":"545f5cab.1df934","type":"api-call-service","z":"423c527d.a422fc","name":"Telegram Log","server":"78fe396.483dac8","service_domain":"telegram_bot","service":"send_message","data":"{\"message\":\"Alarm Clock triggered\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":720,"y":70,"wires":[[]]},{"id":"7f06dd0f.f01a24","type":"api-call-service","z":"423c527d.a422fc","name":"Telegram Log","server":"78fe396.483dac8","service_domain":"telegram_bot","service":"send_message","data":"{\"message\":\"Alarm Clock: No occupancy detected\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1020,"y":30,"wires":[[]]},{"id":"e641380f.253d28","type":"api-call-service","z":"423c527d.a422fc","name":"Turn Relay Off","server":"78fe396.483dac8","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"input_boolean.homekit_alarm_clock_trigger_relay\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1260,"y":370,"wires":[[]]},{"id":"9a02837f.300ba","type":"inject","z":"423c527d.a422fc","name":"Current time","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":60,"wires":[["a75dacbf.0a632"]]},{"id":"a75dacbf.0a632","type":"api-current-state","z":"423c527d.a422fc","name":"alarm enabled?","server":"78fe396.483dac8","outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is_not","override_topic":false,"entity_id":"input_boolean.alarm_clock_enabled","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":320,"y":60,"wires":[["7167885b.43cc38"],[]],"outputLabels":["true","false"]},{"id":"8a7dcc55.c68e3","type":"api-current-state","z":"423c527d.a422fc","name":"work week alarm","server":"78fe396.483dac8","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is_not","override_topic":false,"entity_id":"input_datetime.work_week_alarm","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":300,"y":120,"wires":[["63d54b73.ce88b4"]],"outputLabels":["true","false"]},{"id":"73be7a52.f99c34","type":"api-current-state","z":"423c527d.a422fc","name":"weekend alarm","server":"78fe396.483dac8","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is_not","override_topic":false,"entity_id":"input_datetime.weekend_alarm","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":290,"y":160,"wires":[["63d54b73.ce88b4"]],"outputLabels":["true"]},{"id":"7167885b.43cc38","type":"weekday","z":"423c527d.a422fc","name":"is weekday?","sun":false,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":false,"x":120,"y":140,"wires":[["8a7dcc55.c68e3"],["73be7a52.f99c34"]],"outputLabels":["weekday","weekend"]},{"id":"63d54b73.ce88b4","type":"function","z":"423c527d.a422fc","name":"check alarm","func":"var now = new Date();\nvar hour = now.getHours();\nvar minute = now.getMinutes();\n\nif(hour.toString().length == 1) {\n    var hour = '0'+hour;\n}\n\nif(minute.toString().length == 1) {\n    var minute = '0'+minute;\n}\nvar currentTimeString = hour+':'+minute+':00';\n\nif(msg.data.state == currentTimeString){\n    msg.payload = true;\n} else {\n    msg.payload = false;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":160,"wires":[["5148f55d.6b534c"]]},{"id":"5148f55d.6b534c","type":"switch","z":"423c527d.a422fc","name":"is triggered","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":510,"y":100,"wires":[["1d2c5c55.314864","545f5cab.1df934"]]},{"id":"9e4938a1.a731b8","type":"api-call-service","z":"7d4c9938.2a0338","name":"Netflix Red Tap","server":"78fe396.483dac8","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.tv_lightstrip\",\"rgb_color\":[255,43,0],\"transition\":10,\"brightness\":241}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1360,"y":260,"wires":[[]]},{"id":"f6d56ec6.908fa","type":"trigger","z":"7d4c9938.2a0338","name":"","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"20","extend":false,"units":"s","reset":"","bytopic":"all","outputs":1,"x":1350,"y":300,"wires":[["25fa21c2.ca683e"]]},{"id":"25fa21c2.ca683e","type":"api-call-service","z":"7d4c9938.2a0338","name":"Turn light off","server":"78fe396.483dac8","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.tv_lightstrip\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1510,"y":300,"wires":[[]]},{"id":"8815ce5c.99928","type":"server-state-changed","z":"ce35d200.18817","name":"Entrance door","server":"78fe396.483dac8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.apartment_entrance","entityidfiltertype":"substring","outputinitially":false,"state_type":"habool","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":130,"y":120,"wires":[["c30a0948.6372c8"]]},{"id":"c30a0948.6372c8","type":"switch","z":"ce35d200.18817","name":"opens","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":279.5,"y":120,"wires":[["6eefae60.3d2d5","87e9d7b8.c59e28"]]},{"id":"cdf5a30e.068da","type":"api-call-service","z":"ce35d200.18817","name":"Set Volume","server":"78fe396.483dac8","version":"1","service_domain":"media_player","service":"volume_set","entityId":"media_player.bathroom","data":"{\"volume_level\":0.5}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":721.5,"y":122,"wires":[["2f983cc3.99fd64","2c5475b7.8e398a"]]},{"id":"77a024f3.4773cc","type":"api-call-service","z":"ce35d200.18817","name":"Set Volume","server":"78fe396.483dac8","version":"1","service_domain":"media_player","service":"volume_set","entityId":"media_player.bathroom","data":"{\"volume_level\":0.3}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":931.5,"y":202,"wires":[[]]},{"id":"b215a410.cee808","type":"trigger","z":"ce35d200.18817","name":"","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"2","extend":false,"units":"min","reset":"","bytopic":"all","outputs":1,"x":751.5,"y":202,"wires":[["77a024f3.4773cc"]]},{"id":"966da4a8.1a1fb8","type":"api-call-service","z":"ce35d200.18817","name":"broadcast","server":"78fe396.483dac8","version":1,"debugenabled":false,"service_domain":"tts","service":"google_cloud_say","entityId":"media_player.bathroom","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1651.5,"y":112,"wires":[[]]},{"id":"d89175f9.fa3d28","type":"function","z":"ce35d200.18817","name":"Welcome Message","func":"var currentTime = new Date().toLocaleTimeString([], {hour: '2-digit', minute:'2-digit'});\n\nvar greetings = [\n    'Welcome home!',\n    'Welcome back!'\n]\nvar randomGreeting = greetings[Math.floor(Math.random() * greetings.length)];\n\nvar tempOutside = msg.data.outdoor.state;\nvar tempInside = msg.data.indoor.state;\n\nvar message = `\n    ${randomGreeting}\n    It is now ${currentTime}. \n    The temperature inside is ${tempInside}°, whereas outside it is ${tempOutside}°.\n    `\n\nmsg.payload =\n    {\n        \"data\":\n        {\n            \"message\": message\n        }\n        \n    }\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1481.5,"y":112,"wires":[["966da4a8.1a1fb8"]]},{"id":"2f983cc3.99fd64","type":"api-current-state","z":"ce35d200.18817","name":"get outdoor temperature","server":"78fe396.483dac8","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.loggia_temperature","state_type":"num","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":961.5,"y":92,"wires":[["4c2a796e.fd8f08"]]},{"id":"2c5475b7.8e398a","type":"api-current-state","z":"ce35d200.18817","name":"get indoor temperature","server":"78fe396.483dac8","version":"1","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.netatmo_sixtymeters_indoor_temperature","state_type":"num","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":951.5,"y":142,"wires":[["c654f4ba.8286a8"]]},{"id":"d75aada9.566fb","type":"join","z":"ce35d200.18817","name":"","mode":"custom","build":"merged","property":"data","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1311.5,"y":112,"wires":[["d89175f9.fa3d28"]]},{"id":"4c2a796e.fd8f08","type":"change","z":"ce35d200.18817","name":"data.outdoor","rules":[{"t":"move","p":"data","pt":"msg","to":"data.outdoor","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1161.5,"y":92,"wires":[["d75aada9.566fb"]]},{"id":"c654f4ba.8286a8","type":"change","z":"ce35d200.18817","name":"data.indoor","rules":[{"t":"move","p":"data","pt":"msg","to":"data.indoor","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1161.5,"y":142,"wires":[["d75aada9.566fb"]]},{"id":"783c11e5.0d766","type":"server-state-changed","z":"ce35d200.18817","name":"Entrance Motion","server":"78fe396.483dac8","version":"1","entityidfilter":"binary_sensor.entrance_logi_motion","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":140,"y":460,"wires":[["7d8a1188.47cdd"]]},{"id":"7d8a1188.47cdd","type":"switch","z":"ce35d200.18817","name":"detected","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":315.5,"y":460,"wires":[["6eefae60.3d2d5"],["4fed0d6a.2f8f24"]]},{"id":"ccaa5b92.6c0808","type":"time-range-switch","z":"ce35d200.18817","name":"","lat":"47.38089","lon":"8.48364","startTime":"09:00","endTime":"22:00","startOffset":0,"endOffset":0,"x":970,"y":400,"wires":[["eb8946b5.671eb8"],[]]},{"id":"eb8946b5.671eb8","type":"api-call-service","z":"ce35d200.18817","name":"Entrance Light DAY ON","server":"78fe396.483dac8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.entrance_light_group","data":"{\"brightness\":254,\"color_temp\":379}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1190,"y":440,"wires":[[]]},{"id":"10db8870.e03238","type":"api-call-service","z":"ce35d200.18817","name":"Entrance Light NIGHT ON","server":"78fe396.483dac8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.entrance_light_group","data":"{\"brightness\":82,\"color_temp\":431}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1190,"y":400,"wires":[[]]},{"id":"4fed0d6a.2f8f24","type":"trigger","z":"ce35d200.18817","name":"","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"3","extend":false,"units":"min","reset":"","bytopic":"all","outputs":1,"x":676,"y":545,"wires":[["74191056.eb5ca"]]},{"id":"74191056.eb5ca","type":"api-call-service","z":"ce35d200.18817","name":"Entrance Light OFF","server":"78fe396.483dac8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.entrance_light_group","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":879,"y":545,"wires":[[]]},{"id":"3520901e.7400f","type":"change","z":"ce35d200.18817","name":"reset timer","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":678,"y":494,"wires":[["4fed0d6a.2f8f24"]]},{"id":"6eefae60.3d2d5","type":"switch","z":"ce35d200.18817","name":"is exiting?","property":"exiting","propertyType":"global","rules":[{"t":"true"},{"t":"false"},{"t":"null"}],"checkall":"true","repair":false,"outputs":3,"x":482,"y":445,"wires":[[],["3520901e.7400f","846e5a53.b62518"],["3520901e.7400f","846e5a53.b62518"]]},{"id":"87e9d7b8.c59e28","type":"subflow:27f43369.1137ec","z":"ce35d200.18817","name":"","env":[],"x":501.5,"y":122,"wires":[["cdf5a30e.068da","b215a410.cee808"],[]]},{"id":"17497a64.bc4de6","type":"function","z":"423c527d.a422fc","name":"Create message","func":"var taskMessage = msg.payload.data.task_message;\nvar tempOutside = msg.data.outdoor.state;\n\nvar message = `\n<speak>\n    <p>Good morning Theo.</p>\n    <p>Outside it is currently ${tempOutside}° warm.</p>\n    ${taskMessage}\n</speak>\n`\n\nmsg.payload =\n    {\n        \"data\":\n        {\n            \"message\": message\n        }\n        \n    }\n\nreturn msg;","outputs":1,"noerr":0,"x":1280,"y":640,"wires":[["983288ed.15bb08"]]},{"id":"f68df361.78477","type":"inject","z":"423c527d.a422fc","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":320,"y":640,"wires":[["6a4f6bf8.7eef94"]]},{"id":"60db98cb.674b78","type":"api-current-state","z":"423c527d.a422fc","name":"get outdoor temperature","server":"78fe396.483dac8","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.outside_temperature","state_type":"num","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":750,"y":700,"wires":[["25ba811f.0989ae"]]},{"id":"25ba811f.0989ae","type":"change","z":"423c527d.a422fc","name":"data.outdoor","rules":[{"t":"move","p":"data","pt":"msg","to":"data.outdoor","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":700,"wires":[["b10f16fd.17ccd8"]]},{"id":"b10f16fd.17ccd8","type":"join","z":"423c527d.a422fc","name":"","mode":"custom","build":"merged","property":"data","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1110,"y":640,"wires":[["17497a64.bc4de6"]]},{"id":"3f61b70b.f50308","type":"api-current-state","z":"423c527d.a422fc","name":"get outdoor temperature","server":"78fe396.483dac8","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sun.sun","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":750,"y":760,"wires":[["5ef15d47.7a9894"]]},{"id":"5ef15d47.7a9894","type":"change","z":"423c527d.a422fc","name":"data.sun","rules":[{"t":"move","p":"data","pt":"msg","to":"data.sun","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":760,"wires":[[]]},{"id":"85ff61bd.80eda","type":"server-state-changed","z":"d3ff7562.eebf38","name":"Kitchen Devices Motion","server":"78fe396.483dac8","version":1,"entityidfilter":"binary_sensor.kitchen_devices_presence","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":120,"y":300,"wires":[["f47b3f7.5fbd4c"]]},{"id":"f47b3f7.5fbd4c","type":"switch","z":"d3ff7562.eebf38","name":"detected","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":340,"y":300,"wires":[["efb1f287.eadc5","bb905d7b.ae76f"],["72158545.1954ec"]]},{"id":"efb1f287.eadc5","type":"api-call-service","z":"d3ff7562.eebf38","name":"Kitchen Utilities ON","server":"78fe396.483dac8","version":"1","service_domain":"switch","service":"turn_on","entityId":"switch.kitchen_plug","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":590,"y":280,"wires":[[]]},{"id":"bb905d7b.ae76f","type":"change","z":"d3ff7562.eebf38","name":"reset timer","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":320,"wires":[["72158545.1954ec"]]},{"id":"6bc00530.fa108c","type":"api-call-service","z":"d3ff7562.eebf38","name":"Kitchen Utilities OFF","server":"78fe396.483dac8","version":"1","service_domain":"switch","service":"turn_off","entityId":"switch.kitchen_plug","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":760,"y":360,"wires":[[]]},{"id":"72158545.1954ec","type":"trigger","z":"d3ff7562.eebf38","name":"","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"5","extend":false,"units":"min","reset":"","bytopic":"all","outputs":1,"x":570,"y":360,"wires":[["6bc00530.fa108c"]]},{"id":"8cc952d3.8b182","type":"api-call-service","z":"d3ff7562.eebf38","name":"bed occupied","server":"78fe396.483dac8","service_domain":"input_boolean","service":"turn_on","data":"{\"entity_id\":\"input_boolean.bed_occupied_input\"}","mergecontext":"","output_location":"","output_location_type":"none","x":620,"y":480,"wires":[[]]},{"id":"8cac1b54.768a28","type":"switch","z":"d3ff7562.eebf38","name":"sleep detected","property":"payload.event.state","propertyType":"msg","rules":[{"t":"eq","v":"sleep_started","vt":"str"},{"t":"eq","v":"sleep_ended","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":420,"y":500,"wires":[["8cc952d3.8b182","e02f2d1a.79e44"],["1306bb69.89c9d5"]]},{"id":"1306bb69.89c9d5","type":"api-call-service","z":"d3ff7562.eebf38","name":"bed not occupied","server":"78fe396.483dac8","service_domain":"input_boolean","service":"turn_off","data":"{\"entity_id\":\"input_boolean.bed_occupied_input\"}","mergecontext":"","output_location":"","output_location_type":"none","x":630,"y":520,"wires":[[]]},{"id":"e02f2d1a.79e44","type":"time-range-switch","z":"d3ff7562.eebf38","name":"","lat":"47.38089","lon":"8.48364","startTime":"21:00","endTime":"06:00","startOffset":0,"endOffset":0,"x":610,"y":440,"wires":[["cc7a8b41.9be978","c36c77b.62b0888"],[]]},{"id":"cc7a8b41.9be978","type":"api-call-service","z":"d3ff7562.eebf38","name":"Turn all lights off","server":"78fe396.483dac8","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"all\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":860,"y":460,"wires":[[]]},{"id":"516e2c4f.b76a44","type":"api-call-service","z":"423c527d.a422fc","name":"Turn all lights off","server":"78fe396.483dac8","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.bedroom\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1240,"y":540,"wires":[[]]},{"id":"2615643f.eee88c","type":"api-call-service","z":"5ecca76c.9de098","name":"Update Plant Status","server":"78fe396.483dac8","version":"1","service_domain":"script","service":"update_plant_status","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":420,"y":80,"wires":[[]]},{"id":"eab74b19.21cf18","type":"inject","z":"5ecca76c.9de098","name":"Every day at 17:00","repeat":"","crontab":"00 17 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":80,"wires":[["2615643f.eee88c"]]},{"id":"c36c77b.62b0888","type":"api-call-service","z":"d3ff7562.eebf38","name":"Turn click & grow off","server":"78fe396.483dac8","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.mystromclickandgrow3, switch.mystromclickandgrow9\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":880,"y":420,"wires":[[]]},{"id":"5f3c7a7e.33eda4","type":"trigger-state","z":"d3ff7562.eebf38","name":"Media: everywhere","server":"78fe396.483dac8","entityid":"media_player.everywhere","entityidfiltertype":"exact","debugenabled":false,"constraints":[],"constraintsmustmatch":"all","outputs":6,"customoutputs":[{"outputId":"6mr4vz6x839","messageType":"default","messageValue":"","comparatorPropertyType":"current_state","comparatorPropertyValue":"new_state.state","comparatorType":"is","comparatorValue":"playing"},{"outputId":"1lkosbcd94m","messageType":"default","messageValue":"","comparatorPropertyType":"current_state","comparatorPropertyValue":"new_state.state","comparatorType":"is","comparatorValue":"off"},{"outputId":"a56w3fj788e","messageType":"default","messageValue":"","comparatorPropertyType":"current_state","comparatorPropertyValue":"new_state.state","comparatorType":"is","comparatorValue":"idle"},{"outputId":"992tojxzlbe","messageType":"default","messageValue":"","comparatorPropertyType":"current_state","comparatorPropertyValue":"new_state.state","comparatorType":"is","comparatorValue":"paused"}],"outputinitially":false,"state_type":"str","x":150,"y":780,"wires":[[],[],["c8039b89.760f28"],["8b1da417.70faa8"],[],["8b1da417.70faa8"]]},{"id":"5953b2af.36038c","type":"trigger-state","z":"d3ff7562.eebf38","name":"Light: nanoleaf","server":"78fe396.483dac8","entityid":"light.nanoleaf","entityidfiltertype":"exact","debugenabled":false,"constraints":[],"constraintsmustmatch":"all","outputs":4,"customoutputs":[{"outputId":"1dnhtuz78f","messageType":"default","messageValue":"","comparatorPropertyType":"current_state","comparatorPropertyValue":"new_state.state","comparatorType":"is","comparatorValue":"on"},{"outputId":"ej080y5e098","messageType":"default","messageValue":"","comparatorPropertyType":"current_state","comparatorPropertyValue":"new_state.state","comparatorType":"is","comparatorValue":"off"}],"outputinitially":false,"state_type":"str","x":140,"y":880,"wires":[[],[],["6a6d11a3.a3831"],[]]},{"id":"c8039b89.760f28","type":"api-current-state","z":"d3ff7562.eebf38","name":"Nanoleaf is on","server":"78fe396.483dac8","outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"light.nanoleaf","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":360,"y":740,"wires":[[],["8b7e1035.9df86"]]},{"id":"8b7e1035.9df86","type":"api-call-service","z":"d3ff7562.eebf38","name":"Media Visualization","server":"78fe396.483dac8","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.nanoleaf\",\"effect\":\"0rgasme\"}","mergecontext":"","output_location":"","output_location_type":"none","x":550,"y":740,"wires":[[]]},{"id":"540526f9.65de28","type":"api-call-service","z":"d3ff7562.eebf38","name":"AI: Red X Anim","server":"78fe396.483dac8","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.nanoleaf\",\"effect\":\"sixtyAI_computerSaysNo\"}","mergecontext":"","output_location":"","output_location_type":"none","x":540,"y":800,"wires":[["3ea3fb8c.fd7904"]]},{"id":"3ea3fb8c.fd7904","type":"trigger","z":"d3ff7562.eebf38","name":"","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"10","extend":false,"units":"s","reset":"","bytopic":"all","outputs":1,"x":710,"y":800,"wires":[["5157fe04.4c4a3"]]},{"id":"5157fe04.4c4a3","type":"api-call-service","z":"d3ff7562.eebf38","name":"Normal Light","server":"78fe396.483dac8","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.nanoleaf\",\"effect\":\"Inner Peace\"}","mergecontext":"","output_location":"","output_location_type":"none","x":870,"y":800,"wires":[[]]},{"id":"6a6d11a3.a3831","type":"api-current-state","z":"d3ff7562.eebf38","name":"Media: everywhere is playing","server":"78fe396.483dac8","outputs":2,"halt_if":"playing","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"media_player.everywhere","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":380,"y":880,"wires":[[],["7b9deaef.3d2f84"]]},{"id":"7b9deaef.3d2f84","type":"api-call-service","z":"d3ff7562.eebf38","name":"Media Visualization","server":"78fe396.483dac8","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.nanoleaf\",\"effect\":\"0rgasme\"}","mergecontext":"","output_location":"","output_location_type":"none","x":630,"y":880,"wires":[[]]},{"id":"8b1da417.70faa8","type":"api-current-state","z":"d3ff7562.eebf38","name":"Nanoleaf is on","server":"78fe396.483dac8","outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"light.nanoleaf","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":360,"y":800,"wires":[[],["540526f9.65de28"]]},{"id":"775f637d.fe8cdc","type":"api-call-service","z":"d3ff7562.eebf38","name":"print the shopping list","server":"78fe396.483dac8","service_domain":"script","service":"print_shopping_list","data":"","mergecontext":"","output_location":"","output_location_type":"none","x":440,"y":560,"wires":[[]]},{"id":"f5161934.cbd058","type":"trigger-state","z":"d3ff7562.eebf38","name":"charging station has turned on","server":"78fe396.483dac8","entityid":"switch.charging_station","entityidfiltertype":"exact","debugenabled":false,"constraints":[],"constraintsmustmatch":"all","outputs":3,"customoutputs":[{"outputId":"n25w4pa5dhk","messageType":"default","messageValue":"","comparatorPropertyType":"current_state","comparatorPropertyValue":"new_state.state","comparatorType":"is","comparatorValue":"on"}],"outputinitially":false,"state_type":"str","x":170,"y":980,"wires":[[],[],["2b241d1b.0fd762"]]},{"id":"2b241d1b.0fd762","type":"trigger","z":"d3ff7562.eebf38","name":"","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"5","extend":false,"units":"hr","reset":"","bytopic":"all","outputs":1,"x":410,"y":980,"wires":[["86813262.687c8"]]},{"id":"86813262.687c8","type":"api-call-service","z":"d3ff7562.eebf38","name":"turn off","server":"78fe396.483dac8","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.charging_station\"}","mergecontext":"","output_location":"","output_location_type":"none","x":560,"y":980,"wires":[[]]},{"id":"b448b45d.d1adf8","type":"server-events","z":"d3ff7562.eebf38","name":"Dconz Event","server":"78fe396.483dac8","event_type":"deconz_event","x":110,"y":1060,"wires":[["e5de3997.8f3db8"]]},{"id":"e5de3997.8f3db8","type":"switch","z":"d3ff7562.eebf38","name":"is bedroom lights switch?","property":"payload.event.id","propertyType":"msg","rules":[{"t":"eq","v":"switch_47","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":330,"y":1060,"wires":[["f522e33e.0e3b2"]]},{"id":"f522e33e.0e3b2","type":"switch","z":"d3ff7562.eebf38","name":"single/double tap?","property":"payload.event.event","propertyType":"msg","rules":[{"t":"eq","v":"1002","vt":"str"},{"t":"eq","v":"1004","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":1060,"wires":[["26e097f9.02b1f8","23eb49fc.0e9116","a99e36e6.259cf8","be42c9c7.09d818"],[]],"outputLabels":["single tap","double tap"]},{"id":"26e097f9.02b1f8","type":"api-call-service","z":"d3ff7562.eebf38","name":"Turn all lights off","server":"78fe396.483dac8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"all","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":820,"y":960,"wires":[[]]},{"id":"23eb49fc.0e9116","type":"api-call-service","z":"d3ff7562.eebf38","name":"Pause all media players","server":"78fe396.483dac8","version":"1","service_domain":"media_player","service":"turn_off","entityId":"all","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":850,"y":1000,"wires":[[]]},{"id":"a99e36e6.259cf8","type":"api-call-service","z":"d3ff7562.eebf38","name":"Kitchen Utilities OFF","server":"78fe396.483dac8","version":"1","service_domain":"switch","service":"turn_off","entityId":"switch.mystromkitchen","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":840,"y":1040,"wires":[[]]},{"id":"be42c9c7.09d818","type":"api-call-service","z":"d3ff7562.eebf38","name":"Turn Smart Garden Off","server":"78fe396.483dac8","version":1,"service_domain":"switch","service":"turn_off","entityId":"switch.mystromclickandgrow9, switch.mystromclickandgrow3","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":840,"y":1080,"wires":[[]]},{"id":"845eeff7.7a8fc","type":"time-range-switch","z":"ce35d200.18817","name":"","lat":"47.38089","lon":"8.48364","startTime":"07:00","endTime":"09:00","startOffset":0,"endOffset":0,"x":970,"y":360,"wires":[["10db8870.e03238"],[]]},{"id":"7b531b23.4bdc74","type":"api-call-service","z":"260e105e.72e61","name":"Bathroom Light ON","server":"78fe396.483dac8","version":1,"service_domain":"light","service":"turn_on","entityId":"light.bathroom_light","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":950,"y":80,"wires":[["2c1a3f4b.49faa"]]},{"id":"e04a1096.1e46c","type":"api-call-service","z":"260e105e.72e61","name":"Bathroom Light OFF","server":"78fe396.483dac8","version":1,"service_domain":"light","service":"turn_off","entityId":"light.bathroom_light","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":520,"y":200,"wires":[[]]},{"id":"883dab48.2fd2d8","type":"time-range-switch","z":"260e105e.72e61","name":"","lat":"47.38089","lon":"8.48364","startTime":"06:20","endTime":"22:00","startOffset":0,"endOffset":0,"x":730,"y":120,"wires":[["7b531b23.4bdc74"],[]],"outputLabels":["true","false"]},{"id":"f8f3aba9.04b268","type":"change","z":"260e105e.72e61","name":"reset timer","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":160,"wires":[["c3a4bcd8.0c80b"]]},{"id":"c3a4bcd8.0c80b","type":"trigger","z":"260e105e.72e61","name":"","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"10","extend":false,"units":"min","reset":"","bytopic":"all","outputs":1,"x":330,"y":200,"wires":[["e04a1096.1e46c"]]},{"id":"ad3c4ae1.80e2d8","type":"server-state-changed","z":"260e105e.72e61","name":"Bathroom Motion","server":"78fe396.483dac8","version":1,"entityidfilter":"binary_sensor.bathroom_motion_sensor","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"x":120,"y":140,"wires":[["ee589d45.693bd","f8f3aba9.04b268"],["c3a4bcd8.0c80b"]]},{"id":"ec6465c1.af7418","type":"inject","z":"d3ff7562.eebf38","name":"Weekdays Morning Trigger","repeat":"","crontab":"30 08 * * 1,2,3,4,5","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":1180,"wires":[["9364e019.3442"]]},{"id":"574d5403.197e3c","type":"inject","z":"d3ff7562.eebf38","name":"Weekend Morning Trigger","repeat":"","crontab":"30 08 * * 6,0","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":1220,"wires":[["9364e019.3442"]]},{"id":"9364e019.3442","type":"api-call-service","z":"d3ff7562.eebf38","name":"Click & Grow, Aquarium ON","server":"78fe396.483dac8","version":1,"service_domain":"switch","service":"turn_on","entityId":"switch.mystromclickandgrow3, switch.mystromaquariumlight, switch.click_and_grow_9","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":460,"y":1180,"wires":[[]]},{"id":"888b893a.9d25c8","type":"inject","z":"d3ff7562.eebf38","name":"Evening Trigger","repeat":"","crontab":"30 20 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":1260,"wires":[["ced6a7ca.c9fc68"]]},{"id":"ced6a7ca.c9fc68","type":"api-call-service","z":"d3ff7562.eebf38","name":"Click & Grow, Aquarium OFF","server":"78fe396.483dac8","version":1,"service_domain":"switch","service":"turn_off","entityId":"switch.mystromclickandgrow3,  switch.click_and_grow_9,  switch.mystromaquariumlight","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":460,"y":1260,"wires":[[]]},{"id":"9aa401d4.89747","type":"weekday","z":"260e105e.72e61","name":"Weekday?","sun":false,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":false,"x":550,"y":160,"wires":[["883dab48.2fd2d8"],["451d3747.dd8278"]],"outputLabels":["Weekdays","Weekend"]},{"id":"451d3747.dd8278","type":"time-range-switch","z":"260e105e.72e61","name":"","lat":"47.38089","lon":"8.48364","startTime":"08:00","endTime":"22:00","startOffset":0,"endOffset":0,"x":730,"y":180,"wires":[["7b531b23.4bdc74"],[]],"outputLabels":["true","false"]},{"id":"bcae61e8.18c4","type":"server-state-changed","z":"ce35d200.18817","name":"Entrance Light Switch","server":"78fe396.483dac8","version":1,"entityidfilter":"binary_sensor.entrance_light_switch","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":160,"y":640,"wires":[["790dafb6.c95e"]]},{"id":"790dafb6.c95e","type":"api-call-service","z":"ce35d200.18817","name":"Entrance Lights","server":"78fe396.483dac8","version":1,"debugenabled":false,"service_domain":"light","service":"toggle","entityId":"light.entrance_light_group","data":"{\"brightness\":254,\"color_temp\":379}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":400,"y":640,"wires":[[]]},{"id":"7d99138d.5057dc","type":"server-state-changed","z":"d3ff7562.eebf38","name":"Living Room Switch 4","server":"78fe396.483dac8","version":1,"entityidfilter":"binary_sensor.living_room_light_switch_4","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":160,"y":1340,"wires":[["8ca1d088.642c3"]]},{"id":"95624fc3.e74b5","type":"server-state-changed","z":"d3ff7562.eebf38","name":"Living Room Switch 2","server":"78fe396.483dac8","version":1,"entityidfilter":"binary_sensor.living_room_light_switch_2","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":160,"y":1420,"wires":[["8743832a.b7ade"]]},{"id":"8743832a.b7ade","type":"api-call-service","z":"d3ff7562.eebf38","name":"Scene Warm","server":"78fe396.483dac8","version":1,"debugenabled":false,"service_domain":"scene","service":"turn_on","entityId":"scene.living_room_warm","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":390,"y":1420,"wires":[[]]},{"id":"4c42647c.d0db9c","type":"api-call-service","z":"d3ff7562.eebf38","name":"Play Energy Zürich","server":"78fe396.483dac8","version":1,"service_domain":"media_player","service":"play_media","entityId":"media_player.everywhere","data":"{\"media_content_id\":\"https://energyzuerich.ice.infomaniak.ch/energyzuerich-high.mp3\",\"media_content_type\":\"music\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":570,"y":1500,"wires":[[]]},{"id":"ab54e07e.79109","type":"server-state-changed","z":"d3ff7562.eebf38","name":"Living Room Switch 1","server":"78fe396.483dac8","version":1,"entityidfilter":"binary_sensor.living_room_light_switch_1","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":160,"y":1480,"wires":[["9fe50501.693658"]]},{"id":"9fe50501.693658","type":"api-current-state","z":"d3ff7562.eebf38","name":"is playing?","server":"78fe396.483dac8","version":1,"outputs":2,"halt_if":"playing","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"media_player.everywhere","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":370,"y":1480,"wires":[["44296181.153db"],["4c42647c.d0db9c"]]},{"id":"44296181.153db","type":"api-call-service","z":"d3ff7562.eebf38","name":"Stop playing","server":"78fe396.483dac8","version":1,"service_domain":"media_player","service":"media_stop","entityId":"media_player.everywhere","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":550,"y":1460,"wires":[[]]},{"id":"55bce5b1.25781c","type":"server-state-changed","z":"423c527d.a422fc","name":"Bedroom Light Switch","server":"78fe396.483dac8","version":1,"entityidfilter":"binary_sensor.bedroom_light_switch_short","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":140,"y":880,"wires":[["156507b5.6f9048"]]},{"id":"9a9bff1c.6a972","type":"api-call-service","z":"423c527d.a422fc","name":"Bedroom Lights Toggle","server":"78fe396.483dac8","version":1,"debugenabled":false,"service_domain":"light","service":"toggle","entityId":"light.bedroom_light_group","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":550,"y":900,"wires":[[]]},{"id":"156507b5.6f9048","type":"api-current-state","z":"423c527d.a422fc","name":"light is off?","server":"78fe396.483dac8","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.bedroom_light_group","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":330,"y":880,"wires":[["9044a83f.e3ea28"],["9a9bff1c.6a972"]]},{"id":"9044a83f.e3ea28","type":"api-call-service","z":"423c527d.a422fc","name":"Bedroom Scene: Warm Neutral","server":"78fe396.483dac8","version":1,"debugenabled":false,"service_domain":"scene","service":"turn_on","entityId":"scene.bedroom_warm_neutral","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":570,"y":860,"wires":[[]]},{"id":"846e5a53.b62518","type":"api-current-state","z":"ce35d200.18817","name":"is kitchen table light on?","server":"78fe396.483dac8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.kitchen_table_light","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":750,"y":440,"wires":[["eb8946b5.671eb8"],["ccaa5b92.6c0808","845eeff7.7a8fc"]]},{"id":"ee589d45.693bd","type":"api-current-state","z":"260e105e.72e61","name":"is kitchen table light on?","server":"78fe396.483dac8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.kitchen_table_light","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":370,"y":100,"wires":[["7b531b23.4bdc74"],["9aa401d4.89747"]]},{"id":"c6f43e7e.68de2","type":"server-state-changed","z":"260e105e.72e61","name":"Bathroom Switch","server":"78fe396.483dac8","version":1,"entityidfilter":"binary_sensor.bathroom_light_switch_short","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":120,"y":280,"wires":[["3cba1b36.7ed954"]]},{"id":"94a8d5d8.8e2e18","type":"api-call-service","z":"260e105e.72e61","name":"Bathroom Light Toggle","server":"78fe396.483dac8","version":1,"service_domain":"light","service":"toggle","entityId":"light.bathroom_light","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":580,"y":280,"wires":[["d0e36ea9.7e1c1"]]},{"id":"2c1a3f4b.49faa","type":"change","z":"260e105e.72e61","name":"lock bathroom light","rules":[{"t":"set","p":"bathroom_light_locked","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1170,"y":80,"wires":[["3c09074d.089b18"]]},{"id":"3c09074d.089b18","type":"trigger","z":"260e105e.72e61","name":"","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"2","extend":false,"units":"s","reset":"","bytopic":"all","outputs":1,"x":1160,"y":120,"wires":[["d0e36ea9.7e1c1"]]},{"id":"d0e36ea9.7e1c1","type":"change","z":"260e105e.72e61","name":"unlock bathroom light","rules":[{"t":"set","p":"bathroom_light_locked","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1180,"y":180,"wires":[[]]},{"id":"3cba1b36.7ed954","type":"switch","z":"260e105e.72e61","name":"is bathroom light locked?","property":"bathroom_light_locked","propertyType":"global","rules":[{"t":"true"},{"t":"false"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":330,"y":280,"wires":[[],["94a8d5d8.8e2e18"],["94a8d5d8.8e2e18"]]},{"id":"ba9036c1.11e058","type":"api-call-service","z":"2614aeae.a90552","name":"LED on","server":"78fe396.483dac8","version":1,"service_domain":"logi_circle","service":"set_config","entityId":"camera.logi_living_room, camera.logi_circle_hallway","data":"{\"mode\":\"LED\",\"value\":true}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":500,"y":220,"wires":[[]]},{"id":"adda0079.bdc5e","type":"api-call-service","z":"2614aeae.a90552","name":"Recording off","server":"78fe396.483dac8","version":1,"service_domain":"logi_circle","service":"set_config","entityId":"camera.logi_living_room, camera.logi_circle_hallway","data":"{\"mode\":\"LED\",\"value\":false}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":520,"y":80,"wires":[[]]},{"id":"44013385.05812c","type":"api-call-service","z":"2614aeae.a90552","name":"Recoding on","server":"78fe396.483dac8","version":1,"service_domain":"logi_circle","service":"set_config","entityId":"camera.logi_living_room, camera.logi_circle_hallway","data":"{\"mode\":\"RECORDING_MODE\",\"value\":true}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":510,"y":180,"wires":[[]]},{"id":"16c2fd2.6d65703","type":"api-call-service","z":"2614aeae.a90552","name":"LED off","server":"78fe396.483dac8","version":1,"service_domain":"logi_circle","service":"set_config","entityId":"camera.logi_living_room, camera.logi_circle_hallway","data":"{\"mode\":\"RECORDING_MODE\",\"value\":false}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":500,"y":120,"wires":[[]]},{"id":"7e0be515.b450cc","type":"server-state-changed","z":"2614aeae.a90552","name":"Apartment occupancy state change","server":"78fe396.483dac8","version":1,"entityidfilter":"binary_sensor.apartment_occupancy","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":200,"y":160,"wires":[["16c2fd2.6d65703","adda0079.bdc5e"],["44013385.05812c","ba9036c1.11e058"]],"outputLabels":["occupied","not occupied"]},{"id":"fabad148.d1309","type":"subflow:27f43369.1137ec","z":"6e3c7fcf.e7591","name":"","x":400,"y":160,"wires":[["49d07c78.1df8f4","88d97097.a8bec"],["88d97097.a8bec"]]},{"id":"88d97097.a8bec","type":"api-call-service","z":"6e3c7fcf.e7591","name":"Loggia Blinds OPEN","server":"78fe396.483dac8","version":1,"debugenabled":false,"service_domain":"cover","service":"open_cover","entityId":"cover.loggia","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":680,"y":120,"wires":[[]]},{"id":"49d07c78.1df8f4","type":"api-call-service","z":"6e3c7fcf.e7591","name":"Living Room Blinds OPEN","server":"78fe396.483dac8","version":1,"debugenabled":false,"service_domain":"cover","service":"open_cover","entityId":"cover.livingroom","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":690,"y":160,"wires":[[]]},{"id":"6921bf8c.d2b6a","type":"server-events","z":"260e105e.72e61","name":"Dconz Event","server":"78fe396.483dac8","event_type":"deconz_event","x":110,"y":420,"wires":[["8541155a.e79b88","61dcdd5.f404524"]]},{"id":"8541155a.e79b88","type":"switch","z":"260e105e.72e61","name":"is bathroom switch?","property":"payload.event.id","propertyType":"msg","rules":[{"t":"eq","v":"switch_60","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":340,"y":420,"wires":[["83eacea3.de8b5"]]},{"id":"83eacea3.de8b5","type":"switch","z":"260e105e.72e61","name":"number of taps?","property":"payload.event.event","propertyType":"msg","rules":[{"t":"eq","v":"1002","vt":"str"},{"t":"eq","v":"1004","vt":"str"},{"t":"eq","v":"1005","vt":"str"},{"t":"eq","v":"1006","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":560,"y":420,"wires":[[],[],[],[]],"outputLabels":["single tap","double tap","triple tap","4 tap"]},{"id":"61dcdd5.f404524","type":"debug","z":"260e105e.72e61","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":340,"y":540,"wires":[]},{"id":"8ca1d088.642c3","type":"api-call-service","z":"d3ff7562.eebf38","name":"Living Room Lights","server":"78fe396.483dac8","version":1,"debugenabled":false,"service_domain":"light","service":"toggle","entityId":"light.living_room_light_group","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":410,"y":1340,"wires":[[]]},{"id":"4ad4dd23.23cc14","type":"switch","z":"ce35d200.18817","name":"button pressed","property":"payload.event.event","propertyType":"msg","rules":[{"t":"eq","v":"34","vt":"str"},{"t":"eq","v":"16","vt":"str"},{"t":"eq","v":"17","vt":"str"},{"t":"eq","v":"18","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":460,"y":860,"wires":[["213350ed.d0402"],["213350ed.d0402","e2f3e457.de9988"],[],[]],"outputLabels":["button 1","button 2","button 3","button 4"]},{"id":"da41d838.b695c8","type":"api-call-service","z":"ce35d200.18817","name":"Kitchen Utilities OFF","server":"78fe396.483dac8","version":"1","service_domain":"switch","service":"turn_off","entityId":"switch.kitchen_plug","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1000,"y":800,"wires":[[]]},{"id":"ac63547a.3fced8","type":"api-call-service","z":"ce35d200.18817","name":"Turn all lights off","server":"78fe396.483dac8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"all","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":976.5,"y":857,"wires":[[]]},{"id":"66e60089.5902f","type":"server-events","z":"ce35d200.18817","name":"Dconz Event","server":"78fe396.483dac8","event_type":"deconz_event","x":140,"y":860,"wires":[["f7f6683f.9d6418"]]},{"id":"f7f6683f.9d6418","type":"switch","z":"ce35d200.18817","name":"is tap?","property":"payload.event.id","propertyType":"msg","rules":[{"t":"eq","v":"tap","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":280,"y":860,"wires":[["4ad4dd23.23cc14"]]},{"id":"213350ed.d0402","type":"function","z":"ce35d200.18817","name":"set exiting=true","func":"global.set('exiting', true);\n\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":820,"wires":[["da41d838.b695c8","ac63547a.3fced8","d9bee355.abbcb","10ada537.a7bb3b","73fa472b.c6c4f8"]]},{"id":"524f37da.a7bb88","type":"function","z":"ce35d200.18817","name":"set exiting=false","func":"global.set('exiting', false);","outputs":1,"noerr":0,"x":1140,"y":920,"wires":[[]]},{"id":"d9bee355.abbcb","type":"trigger","z":"ce35d200.18817","name":"","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"2","extend":false,"units":"min","reset":"","bytopic":"all","outputs":1,"x":960,"y":920,"wires":[["524f37da.a7bb88"]]},{"id":"10ada537.a7bb3b","type":"api-call-service","z":"ce35d200.18817","name":"Pause all media players","server":"78fe396.483dac8","version":1,"debugenabled":false,"service_domain":"media_player","service":"turn_off","entityId":"media_player.samsung_tv, media_player.everywhere, media_player.google_home, media_player.bathroom, media_player.home_hub, media_player.bedroom_speaker, media_player.loggia_speaker","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1010,"y":740,"wires":[[]]},{"id":"e2f3e457.de9988","type":"trigger","z":"ce35d200.18817","name":"","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"5","extend":false,"units":"min","reset":"","bytopic":"all","outputs":1,"x":690,"y":860,"wires":[["31f92b88.1c2eb4","d79e4009.522e6"]]},{"id":"31f92b88.1c2eb4","type":"api-call-service","z":"ce35d200.18817","name":"Roomba ON","server":"78fe396.483dac8","version":1,"debugenabled":false,"service_domain":"vacuum","service":"start","entityId":"vacuum.ghost","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":690,"y":920,"wires":[[]]},{"id":"d79e4009.522e6","type":"api-call-service","z":"ce35d200.18817","name":"Telegram Log","server":"78fe396.483dac8","version":"1","service_domain":"telegram_bot","service":"send_message","entityId":"","data":"{\"message\":\"Started the Roomba due to the exit->cleaning button!\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":700,"y":960,"wires":[[]]},{"id":"73fa472b.c6c4f8","type":"time-range-switch","z":"ce35d200.18817","name":"","lat":"47.38089","lon":"8.48364","startTime":"06:00","endTime":"18:00","startOffset":0,"endOffset":0,"x":970,"y":680,"wires":[["3186272c.935e18"],[]]},{"id":"3186272c.935e18","type":"api-call-service","z":"ce35d200.18817","name":"Open all blinds","server":"78fe396.483dac8","version":1,"debugenabled":false,"service_domain":"cover","service":"open_cover","entityId":"cover.loggia, cover.livingroom","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1140,"y":680,"wires":[[]]},{"id":"bb36f243.f92d3","type":"server-state-changed","z":"e550f91e.577438","name":"TV State Change","server":"78fe396.483dac8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.samsung_tv","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":140,"y":120,"wires":[[],["e2e7a66f.e1f4e8"]],"outputLabels":["on","off"]},{"id":"e2e7a66f.e1f4e8","type":"function","z":"e550f91e.577438","name":"Calculate On-Time","func":"var tvOnTimestamp = new Date(msg.data.old_state.last_changed);\nvar tvOffTimestamp = new Date(msg.data.new_state.last_changed);\n\nconst diffTime = Math.abs(tvOffTimestamp-tvOnTimestamp)\n\nconst diffMinutes = Math.ceil(diffTime / (1000 * 60)); \n\nmsg.tvOnTime = diffMinutes\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":120,"wires":[["65b7610a.473cb"]]},{"id":"7471a71b.d7bdd8","type":"www-request","z":"e550f91e.577438","name":"HTTP GET","method":"GET","ret":"obj","url":"https://exist.io/api/1/users/$self/attributes/distracting_min/?access_token=&date_min={{{today}}}&date_max={{{today}}}","follow-redirects":false,"persistent-http":false,"tls":"","x":770,"y":120,"wires":[["73cf09bd.1121f8"]]},{"id":"65b7610a.473cb","type":"function","z":"e550f91e.577438","name":"GET current distracting time","func":"var d = new Date();\nvar formatted = [d.getFullYear(),('0' + (d.getMonth() + 1)).slice(-2),('0' + d.getDate()).slice(-2)].join('-');\n \n msg.headers = {'Authorization':'Bearer 5d0fdf1d9f56974ec2992328e0f1c4a2ef1b3a6c'};\n msg.today = formatted\n return msg;","outputs":1,"noerr":0,"x":560,"y":120,"wires":[["7471a71b.d7bdd8"]]},{"id":"73cf09bd.1121f8","type":"function","z":"e550f91e.577438","name":"add distracting time & prepare POST request","func":"if(msg.payload.results[0].value === null){\n    msg.oldDistractingTime = 0;\n}else{\n    msg.oldDistractingTime = msg.payload.results[0].value;\n}\n\nvar newDistractingTime = parseInt(msg.oldDistractingTime) + parseInt(msg.tvOnTime)\n\nmsg.newDistractingTime = newDistractingTime\nmsg.payload = { name: \"distracting_min\", date: msg.today, value: newDistractingTime}\nmsg.headers = {'Authorization':'Bearer 5d0fdf1d9f56974ec2992328e0f1c4a2ef1b3a6c'};\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":180,"wires":[["66597f0d.b310c"]]},{"id":"66597f0d.b310c","type":"www-request","z":"e550f91e.577438","name":"HTTP POST","method":"POST","ret":"obj","url":"https://exist.io/api/1/attributes/update/?access_token=","follow-redirects":false,"persistent-http":false,"tls":"","x":650,"y":180,"wires":[[]]},{"id":"c8bad39.54f2a3","type":"api-call-service","z":"7d4c9938.2a0338","name":"Input: Optical","server":"78fe396.483dac8","version":1,"debugenabled":false,"service_domain":"remote","service":"send_command","entityId":"remote.harmony_hub","data":"{\"device\":\"Philips Amp\",\"command\":[\"InputOptical\"],\"delay_secs\":0.6}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":540,"y":1600,"wires":[[]]},{"id":"5a68e839.fd75f8","type":"ha-entity","z":"7d4c9938.2a0338","name":"Philips Stereo Entity","server":"78fe396.483dac8","version":1,"debugenabled":false,"outputs":2,"entityType":"switch","config":[{"property":"name","value":"Philips Stereo"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:speaker"},{"property":"unit_of_measurement","value":""}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":320,"y":1680,"wires":[["1a2be068.9d6b7"],[]]},{"id":"397c564e.3b759a","type":"server-state-changed","z":"7d4c9938.2a0338","name":"Philips Stereo","server":"78fe396.483dac8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"switch.philips_stereo","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":350,"y":1620,"wires":[["c8bad39.54f2a3"],["1a2be068.9d6b7"]],"outputLabels":["on","off"]},{"id":"1a2be068.9d6b7","type":"api-call-service","z":"7d4c9938.2a0338","name":"Toggle Off","server":"78fe396.483dac8","version":1,"debugenabled":false,"service_domain":"remote","service":"send_command","entityId":"remote.harmony_hub","data":"{\"device\":\"Philips Amp\",\"command\":[\"PowerToggle\"],\"delay_secs\":0.6}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":530,"y":1640,"wires":[[]]},{"id":"2b4c7d89.666d82","type":"ha-webhook","z":"e550f91e.577438","name":"Bank Account Gateway","server":"78fe396.483dac8","outputs":1,"webhookId":"bank-accounts","payloadLocation":"payload","payloadLocationType":"msg","headersLocation":"","headersLocationType":"none","x":140,"y":740,"wires":[["7957c50e.e10eac","39aef00f.a4481"]]},{"id":"d2101949.c26128","type":"debug","z":"e550f91e.577438","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":670,"y":900,"wires":[]},{"id":"ae435512.3c4db8","type":"ha-entity","z":"e550f91e.577438","name":"UBS Card","server":"78fe396.483dac8","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"UBS Credit Card"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:currency-usd"},{"property":"unit_of_measurement","value":"CHF"}],"state":"payload.value","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":660,"y":700,"wires":[[]]},{"id":"f14ce644.9f1868","type":"function","z":"e550f91e.577438","name":"parse card value","func":"var parsedValue = parseInt(msg.payload.value.replace('\\'',''));\n\nmsg.payload.value = parsedValue-4000\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":700,"wires":[["ae435512.3c4db8"]]},{"id":"7957c50e.e10eac","type":"switch","z":"e550f91e.577438","name":"","property":"payload.account-type","propertyType":"msg","rules":[{"t":"eq","v":"card","vt":"str"},{"t":"eq","v":"account","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":740,"wires":[["f14ce644.9f1868"],["a19d7dcc.0af9c"]]},{"id":"7c64769c.953f48","type":"ha-entity","z":"e550f91e.577438","name":"UBS Savings Account","server":"78fe396.483dac8","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"UBS Savings Account"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:currency-usd"},{"property":"unit_of_measurement","value":"CHF"}],"state":"payload.value","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":860,"y":780,"wires":[[]]},{"id":"a19d7dcc.0af9c","type":"function","z":"e550f91e.577438","name":"parse account value","func":"var parsedValue = parseInt(msg.payload.value.replace('\\'',''));\n\nmsg.payload.value = parsedValue\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":760,"wires":[["68e81c6a.dbb444"]]},{"id":"68e81c6a.dbb444","type":"switch","z":"e550f91e.577438","name":"","property":"payload.account","propertyType":"msg","rules":[{"t":"eq","v":"Privatkont","vt":"str"},{"t":"eq","v":"Sparkonto","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":690,"y":760,"wires":[["eece6ff7.88ce7"],["7c64769c.953f48"]]},{"id":"eece6ff7.88ce7","type":"ha-entity","z":"e550f91e.577438","name":"UBS Personal Account","server":"78fe396.483dac8","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"UBS Personal Account"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:currency-usd"},{"property":"unit_of_measurement","value":"CHF"}],"state":"payload.value","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":860,"y":740,"wires":[[]]},{"id":"b9e2e175.9a3ad","type":"function","z":"e550f91e.577438","name":"calculate total","func":"const globalHomeAssistant = global.get('homeassistant');\n\nvar creditCard = parseInt(globalHomeAssistant.homeAssistant.states[\"sensor.ubs_credit_card\"].state);\nvar personalAccount = parseInt(globalHomeAssistant.homeAssistant.states[\"sensor.ubs_personal_account\"].state);\nvar savingsAccount = parseInt(globalHomeAssistant.homeAssistant.states[\"sensor.ubs_savings_account\"].state);\n\nvar total = creditCard+personalAccount+savingsAccount\nmsg.networth = total\n\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":840,"wires":[["d2101949.c26128","1509b22.e29b94e"]]},{"id":"39aef00f.a4481","type":"trigger","z":"e550f91e.577438","name":"","op1":"","op2":"","op1type":"nul","op2type":"date","duration":"1","extend":false,"units":"s","reset":"","bytopic":"all","outputs":1,"x":280,"y":840,"wires":[["b9e2e175.9a3ad"]]},{"id":"1509b22.e29b94e","type":"ha-entity","z":"e550f91e.577438","name":"Net Worth","server":"78fe396.483dac8","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Net Worth"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:currency-usd"},{"property":"unit_of_measurement","value":"CHF"}],"state":"networth","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":660,"y":840,"wires":[[]]},{"id":"951e30fb.a4e8f","type":"inject","z":"e550f91e.577438","name":"every 5min","repeat":"300","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":1020,"wires":[["549f95f9.82747c","ed79aca1.ad0ce","ea095f28.41346","600d2192.e3d02"]]},{"id":"549f95f9.82747c","type":"function","z":"e550f91e.577438","name":"prepare token","func":"var d = new Date();\nvar formatted = [d.getFullYear(),('0' + (d.getMonth() + 1)).slice(-2),('0' + d.getDate()).slice(-2)].join('-');\n \n msg.headers = {'Authorization':'Bearer 5d0fdf1d9f56974ec2992328e0f1c4a2ef1b3a6c'};\n msg.today = formatted\n return msg;","outputs":1,"noerr":0,"x":340,"y":1020,"wires":[["fd8fc8bb.700318"]]},{"id":"fd8fc8bb.700318","type":"www-request","z":"e550f91e.577438","name":"GET money_spent","method":"GET","ret":"obj","url":"https://exist.io/api/1/users/$self/attributes/money_spent/?access_token=&date_min={{{today}}}&date_max={{{today}}}","follow-redirects":false,"persistent-http":false,"tls":"","x":550,"y":1020,"wires":[["b812cf89.815aa"]]},{"id":"b812cf89.815aa","type":"function","z":"e550f91e.577438","name":"parse result","func":"if(msg.payload.results[0].value === null){\n    msg.money_spent = 0;\n}else{\n    msg.money_spent = parseInt(msg.payload.results[0].value);\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":1020,"wires":[["3d229bbb.1208f4"]]},{"id":"3d229bbb.1208f4","type":"ha-entity","z":"e550f91e.577438","name":"Money Spent Today","server":"78fe396.483dac8","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Money Spent Today"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:credit-card-minus-outline"},{"property":"unit_of_measurement","value":"CHF"}],"state":"money_spent","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":960,"y":1020,"wires":[[]]},{"id":"ed79aca1.ad0ce","type":"trigger","z":"e550f91e.577438","name":"","op1":"","op2":"","op1type":"nul","op2type":"date","duration":"3","extend":false,"units":"s","reset":"","bytopic":"all","outputs":1,"x":320,"y":1260,"wires":[["f83dd548.521fa8"]]},{"id":"96e63cfc.314fc","type":"function","z":"e550f91e.577438","name":"calculate current earnings - spendings","func":"const globalHomeAssistant = global.get('homeassistant');\n\nvar minutesPassedToday = (parseInt(new Date().getHours())*60) + parseInt(new Date().getMinutes());\n\nvar earned_today = parseFloat(msg.fixed_earnings_min) * 60 * 24\nvar spent_today = parseInt(globalHomeAssistant.homeAssistant.states[\"sensor.money_spent_today\"].state);\nvar fixed_expenses = parseFloat(msg.fixed_expenses_min) * 60 * 24\nvar success_today = earned_today - spent_today - fixed_expenses\n\n//Today\nmsg.money_earned_today = parseInt(earned_today);\nmsg.money_fixed_expenses_today = parseInt(fixed_expenses);\nmsg.money_success_today = parseInt(success_today);\n\n\n\n//Week\nmsg.money_earned_week = parseInt(earned_today)*7;\nmsg.money_fixed_expenses_week = parseInt(fixed_expenses)*7;\n\nvar spent_week = parseInt(globalHomeAssistant.homeAssistant.states[\"sensor.money_spent_week\"].state);\nmsg.money_success_week = msg.money_earned_week - spent_week - msg.money_fixed_expenses_week\n\n\n\n//Month\nmsg.money_earned_month = parseInt(msg.money_earned_week)*4;\nmsg.money_fixed_expenses_month = parseInt(msg.money_fixed_expenses_week)*4;\n\nvar spent_month = parseInt(globalHomeAssistant.homeAssistant.states[\"sensor.money_spent_month\"].state);\nmsg.money_success_month = msg.money_earned_month - spent_month - msg.money_fixed_expenses_month\n\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":1260,"wires":[["4f40de6a.6fa6d","8ce4ab51.ef9168","97ed49c5.2a76e8","6667d5d9.d3bc1c","e8b3ed98.bab92","82a580b9.9f31c","98fe0a5.007d6f8","7a54e2a6.5b374c","2131d044.8bf25"]]},{"id":"4f40de6a.6fa6d","type":"ha-entity","z":"e550f91e.577438","name":"Money Earnings Today","server":"78fe396.483dac8","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Money Earnings Today"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:currency-usd"},{"property":"unit_of_measurement","value":"CHF"}],"state":"money_earned_today","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":1260,"y":1120,"wires":[[]]},{"id":"8ce4ab51.ef9168","type":"ha-entity","z":"e550f91e.577438","name":"Money Success Today","server":"78fe396.483dac8","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Money Success Today"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:safe"},{"property":"unit_of_measurement","value":"CHF"}],"state":"money_success_today","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":1260,"y":1240,"wires":[[]]},{"id":"b71ccd39.5b152","type":"server-state-changed","z":"e550f91e.577438","name":"Playstation Change","server":"78fe396.483dac8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"media_player.playstation_4","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"playing","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":130,"y":280,"wires":[[],["17f63c63.c435d4"]],"outputLabels":["on","off"]},{"id":"17f63c63.c435d4","type":"function","z":"e550f91e.577438","name":"Calculate On-Time","func":"var psOnTimestamp = new Date(msg.data.old_state.last_changed);\nvar psOffTimestamp = new Date(msg.data.new_state.last_changed);\n\nconst diffTime = Math.abs(psOffTimestamp-psOnTimestamp)\n\nconst diffMinutes = Math.ceil(diffTime / (1000 * 60)); \n\nmsg.psOnTime = diffMinutes\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":280,"wires":[["d261e444.cea328"]]},{"id":"e7c7228e.73402","type":"www-request","z":"e550f91e.577438","name":"HTTP GET","method":"GET","ret":"obj","url":"https://exist.io/api/1/users/$self/attributes/gaming_min/?access_token=&date_min={{{today}}}&date_max={{{today}}}","follow-redirects":false,"persistent-http":false,"tls":"","x":810,"y":280,"wires":[["50c92acb.8f2494"]]},{"id":"d261e444.cea328","type":"function","z":"e550f91e.577438","name":"GET current distracting time","func":"var d = new Date();\nvar formatted = [d.getFullYear(),('0' + (d.getMonth() + 1)).slice(-2),('0' + d.getDate()).slice(-2)].join('-');\n \n msg.headers = {'Authorization':'Bearer 5d0fdf1d9f56974ec2992328e0f1c4a2ef1b3a6c'};\n msg.today = formatted\n return msg;","outputs":1,"noerr":0,"x":600,"y":280,"wires":[["e7c7228e.73402"]]},{"id":"50c92acb.8f2494","type":"function","z":"e550f91e.577438","name":"add distracting time & prepare POST request","func":"if(msg.payload.results[0].value === null){\n    msg.oldDistractingTime = 0;\n}else{\n    msg.oldDistractingTime = msg.payload.results[0].value;\n}\n\nvar gaming_min = parseInt(msg.oldDistractingTime) + parseInt(msg.psOnTime)\n\nmsg.gaming_min = gaming_min\nmsg.payload = { name: \"gaming_min\", date: msg.today, value: -2200}\nmsg.headers = {'Authorization':'Bearer 5d0fdf1d9f56974ec2992328e0f1c4a2ef1b3a6c'};\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":340,"wires":[[]]},{"id":"3f33ed7b.f79172","type":"www-request","z":"e550f91e.577438","name":"HTTP POST","method":"POST","ret":"obj","url":"https://exist.io/api/1/attributes/update/?access_token=","follow-redirects":false,"persistent-http":false,"tls":"","x":710,"y":340,"wires":[[]]},{"id":"f83dd548.521fa8","type":"function","z":"e550f91e.577438","name":"inject fixed earnings & expenses","func":"msg.fixed_earnings_min = 0.1731689498;\nmsg.fixed_expenses_min = 0.122892618;\n\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":1260,"wires":[["96e63cfc.314fc"]]},{"id":"97ed49c5.2a76e8","type":"ha-entity","z":"e550f91e.577438","name":"Money Fixed Expenses Today","server":"78fe396.483dac8","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Money Fixed Expenses Today"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:bank-minus"},{"property":"unit_of_measurement","value":"CHF"}],"state":"money_fixed_expenses_today","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":1290,"y":1180,"wires":[[]]},{"id":"ea095f28.41346","type":"function","z":"e550f91e.577438","name":"prepare token","func":"var d = new Date();\nvar formatted = [d.getFullYear(),('0' + (d.getMonth() + 1)).slice(-2),('0' + d.getDate()).slice(-2)].join('-');\n \nvar day = d.getDay(),\ndiff = d.getDate() - day + (day === 0 ? -6:1); // adjust when day is sunday\nvar monday = new Date(d.setDate(diff));\nvar formattedMonday = [monday.getFullYear(),('0' + (monday.getMonth() + 1)).slice(-2),('0' + monday.getDate()).slice(-2)].join('-');\n \n \n msg.headers = {'Authorization':'Bearer 5d0fdf1d9f56974ec2992328e0f1c4a2ef1b3a6c'};\n msg.today = formatted\n msg.firstDayOfWeek = formattedMonday\n return msg;","outputs":1,"noerr":0,"x":340,"y":1080,"wires":[["4b0c1590.cf071c"]]},{"id":"4b0c1590.cf071c","type":"www-request","z":"e550f91e.577438","name":"GET money_spent","method":"GET","ret":"obj","url":"https://exist.io/api/1/users/$self/attributes/money_spent/?access_token=&date_min={{{firstDayOfWeek}}}&date_max={{{today}}}","follow-redirects":false,"persistent-http":false,"tls":"","x":550,"y":1080,"wires":[["5cd945fc.5be65c"]]},{"id":"5cd945fc.5be65c","type":"function","z":"e550f91e.577438","name":"parse result","func":"var weeklySpending = 0;\nmsg.payload.results.forEach(function (item, index) {\n    if(item.value !== null){\n        weeklySpending += item.value;\n    }\n});\n\nmsg.money_spent_week = parseInt(weeklySpending);\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":1080,"wires":[["5232bd5a.c49174"]]},{"id":"5232bd5a.c49174","type":"ha-entity","z":"e550f91e.577438","name":"Money Spent Week","server":"78fe396.483dac8","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Money Spent Week"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:credit-card-minus-outline"},{"property":"unit_of_measurement","value":"CHF"}],"state":"money_spent_week","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":950,"y":1080,"wires":[[]]},{"id":"6667d5d9.d3bc1c","type":"ha-entity","z":"e550f91e.577438","name":"Money Success Week","server":"78fe396.483dac8","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Money Success Week"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:safe"},{"property":"unit_of_measurement","value":"CHF"}],"state":"money_success_week","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":1260,"y":1460,"wires":[[]]},{"id":"e8b3ed98.bab92","type":"ha-entity","z":"e550f91e.577438","name":"Money Earnings Week","server":"78fe396.483dac8","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Money Earnings Week"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:currency-usd"},{"property":"unit_of_measurement","value":"CHF"}],"state":"money_earned_week","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":1260,"y":1340,"wires":[[]]},{"id":"82a580b9.9f31c","type":"ha-entity","z":"e550f91e.577438","name":"Money Fixed Expenses Week","server":"78fe396.483dac8","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Money Fixed Expenses Week"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:bank-minus"},{"property":"unit_of_measurement","value":"CHF"}],"state":"money_fixed_expenses_week","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":1290,"y":1400,"wires":[[]]},{"id":"600d2192.e3d02","type":"function","z":"e550f91e.577438","name":"prepare token","func":"var d = new Date();\nvar formatted = [d.getFullYear(),('0' + (d.getMonth() + 1)).slice(-2),('0' + d.getDate()).slice(-2)].join('-');\n \nvar firstDayOfMonth = new Date(d.getFullYear(), d.getMonth(), 1);\nvar firstDayOfMonthFormatted = [firstDayOfMonth.getFullYear(),('0' + (firstDayOfMonth.getMonth() + 1)).slice(-2),('0' + firstDayOfMonth.getDate()).slice(-2)].join('-');\n\nmsg.headers = {'Authorization':'Bearer 5d0fdf1d9f56974ec2992328e0f1c4a2ef1b3a6c'};\nmsg.today = formatted\nmsg.firstDayOfTheMonth = firstDayOfMonthFormatted\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":1140,"wires":[["e7f55e90.a0c3f"]]},{"id":"e7f55e90.a0c3f","type":"www-request","z":"e550f91e.577438","name":"GET money_spent","method":"GET","ret":"obj","url":"https://exist.io/api/1/users/$self/attributes/money_spent/?access_token=&date_min={{{firstDayOfTheMonth}}}&date_max={{{today}}}","follow-redirects":false,"persistent-http":false,"tls":"","x":550,"y":1140,"wires":[["eedf54d2.5ff0c8"]]},{"id":"eedf54d2.5ff0c8","type":"function","z":"e550f91e.577438","name":"parse result","func":"var monthlySpending = 0;\nmsg.payload.results.forEach(function (item, index) {\n    if(item.value !== null){\n        monthlySpending += item.value;\n    }\n});\n\nmsg.money_spent_month = parseInt(monthlySpending);\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":1140,"wires":[["e1582bd1.02f248"]]},{"id":"e1582bd1.02f248","type":"ha-entity","z":"e550f91e.577438","name":"Money Spent Month","server":"78fe396.483dac8","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Money Spent Month"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:credit-card-minus-outline"},{"property":"unit_of_measurement","value":"CHF"}],"state":"money_spent_month","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":960,"y":1140,"wires":[[]]},{"id":"2131d044.8bf25","type":"ha-entity","z":"e550f91e.577438","name":"Money Success Month","server":"78fe396.483dac8","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Money Success Month"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:safe"},{"property":"unit_of_measurement","value":"CHF"}],"state":"money_success_month","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":1270,"y":1680,"wires":[[]]},{"id":"98fe0a5.007d6f8","type":"ha-entity","z":"e550f91e.577438","name":"Money Earnings Month","server":"78fe396.483dac8","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Money Earnings Month"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:currency-usd"},{"property":"unit_of_measurement","value":"CHF"}],"state":"money_earned_month","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":1270,"y":1560,"wires":[[]]},{"id":"7a54e2a6.5b374c","type":"ha-entity","z":"e550f91e.577438","name":"Money Fixed Expenses Month","server":"78fe396.483dac8","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Money Fixed Expenses Month"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:bank-minus"},{"property":"unit_of_measurement","value":"CHF"}],"state":"money_fixed_expenses_month","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":1290,"y":1620,"wires":[[]]},{"id":"44e265e4.fe5dbc","type":"server-state-changed","z":"7d4c9938.2a0338","name":"TV Channel Input","server":"78fe396.483dac8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_select.tv_channels","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":160,"y":680,"wires":[["c26380c9.3d0be"]]},{"id":"c26380c9.3d0be","type":"switch","z":"7d4c9938.2a0338","name":"Cmd Interpreter","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Netflix","vt":"str"},{"t":"eq","v":"Spotify","vt":"str"},{"t":"eq","v":"YouTube","vt":"str"},{"t":"eq","v":"Apple TV","vt":"str"},{"t":"eq","v":"Google","vt":"str"},{"t":"eq","v":"Playstation","vt":"str"},{"t":"eq","v":"Nintendo Switch","vt":"str"},{"t":"eq","v":"Wallpaper","vt":"str"}],"checkall":"true","repair":false,"outputs":8,"x":360,"y":680,"wires":[["82207da4.02ffb"],["ebbe3548.911ea8"],["aba3e24a.8178f"],["eb8a7ab8.eb9688"],["6a9fb9e7.02e778"],["210bbf3e.19945"],["36e4f0c4.5bbcc"],["e6b530eb.56c74"]]},{"id":"aba3e24a.8178f","type":"http request","z":"7d4c9938.2a0338","name":"YouTube","method":"POST","ret":"txt","paytoqs":false,"url":"http://192.168.178.20:8080/ws/app/YouTube","tls":"","persist":false,"proxy":"","authType":"","x":580,"y":680,"wires":[[]]},{"id":"82207da4.02ffb","type":"http request","z":"7d4c9938.2a0338","name":"Netflix","method":"POST","ret":"txt","paytoqs":false,"url":"http://192.168.178.20:8080/ws/app/Netflix","tls":"","persist":false,"proxy":"","authType":"","x":570,"y":600,"wires":[[]]},{"id":"2af6559.c6e05aa","type":"api-call-service","z":"7d4c9938.2a0338","name":"Spotify","server":"78fe396.483dac8","version":1,"debugenabled":false,"service_domain":"remote","service":"send_command","entityId":"remote.harmony_hub","data":"{\"device\":\"Samsung TV\",\"command\":[\"SmartHub\",\"DirectionRight\",\"Select\"],\"delay_secs\":1}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":840,"y":640,"wires":[[]]},{"id":"ebbe3548.911ea8","type":"http request","z":"7d4c9938.2a0338","name":"Home","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://192.168.178.20:8080/ws/app/YouTube","tls":"","persist":false,"proxy":"","authType":"","x":570,"y":640,"wires":[["f5eba7c6.993038"]]},{"id":"c622196f.1fd878","type":"api-call-service","z":"7d4c9938.2a0338","name":"HDMI 1","server":"78fe396.483dac8","version":1,"debugenabled":false,"service_domain":"remote","service":"send_command","entityId":"remote.harmony_hub","data":"{\"device\":\"Samsung TV\",\"command\":[\"InputHdmi1\"],\"delay_secs\":1}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":740,"y":700,"wires":[[]]},{"id":"d68ab66.d666748","type":"api-call-service","z":"7d4c9938.2a0338","name":"Apple TV ON","server":"78fe396.483dac8","version":1,"debugenabled":false,"service_domain":"remote","service":"send_command","entityId":"remote.apple_tv","data":"{\"command\":[\"menu\"]}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":750,"y":740,"wires":[["ce4873e9.b2d69"]]},{"id":"6a9fb9e7.02e778","type":"api-call-service","z":"7d4c9938.2a0338","name":"HDMI 2","server":"78fe396.483dac8","version":1,"debugenabled":false,"service_domain":"remote","service":"send_command","entityId":"remote.harmony_hub","data":"{\"device\":\"Samsung TV\",\"command\":[\"InputHdmi2\"],\"delay_secs\":1}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":580,"y":760,"wires":[[]]},{"id":"210bbf3e.19945","type":"api-call-service","z":"7d4c9938.2a0338","name":"HDMI 3","server":"78fe396.483dac8","version":1,"debugenabled":false,"service_domain":"remote","service":"send_command","entityId":"remote.harmony_hub","data":"{\"device\":\"Samsung TV\",\"command\":[\"InputHdmi3\"],\"delay_secs\":1}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":580,"y":800,"wires":[[]]},{"id":"36e4f0c4.5bbcc","type":"api-call-service","z":"7d4c9938.2a0338","name":"HDMI 4","server":"78fe396.483dac8","version":1,"debugenabled":false,"service_domain":"remote","service":"send_command","entityId":"remote.harmony_hub","data":"{\"device\":\"Samsung TV\",\"command\":[\"InputHdmi4\"],\"delay_secs\":1}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":580,"y":840,"wires":[[]]},{"id":"f5eba7c6.993038","type":"trigger","z":"7d4c9938.2a0338","name":"wait 2s","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"2","extend":false,"units":"s","reset":"","bytopic":"all","outputs":1,"x":700,"y":640,"wires":[["2af6559.c6e05aa"]]},{"id":"f6a0263a.6a51a8","type":"api-call-service","z":"7d4c9938.2a0338","name":"HDMI 1","server":"78fe396.483dac8","version":1,"debugenabled":false,"service_domain":"remote","service":"send_command","entityId":"remote.harmony_hub","data":"{\"device\":\"Samsung TV\",\"command\":[\"InputHdmi1\"],\"delay_secs\":1}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":740,"y":860,"wires":[[]]},{"id":"888e8838.970288","type":"api-call-service","z":"7d4c9938.2a0338","name":"Apple TV Wallpaper","server":"78fe396.483dac8","version":1,"debugenabled":false,"service_domain":"remote","service":"send_command","entityId":"remote.apple_tv","data":"{\"command\":[\"menu\"]}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":770,"y":900,"wires":[["4cc12ade.fb8b14"]]},{"id":"bbf304a8.651db8","type":"api-call-service","z":"7d4c9938.2a0338","name":"Apple TV ON","server":"78fe396.483dac8","version":1,"debugenabled":false,"service_domain":"remote","service":"send_command","entityId":"remote.apple_tv","data":"{\"command\":[\"top_menu\"]}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":730,"y":1440,"wires":[[]]},{"id":"35bd5f89.54302","type":"inject","z":"7d4c9938.2a0338","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":420,"y":1420,"wires":[["bbf304a8.651db8"]]},{"id":"e6b530eb.56c74","type":"change","z":"7d4c9938.2a0338","name":"Apple TV","rules":[],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":880,"wires":[["f6a0263a.6a51a8","888e8838.970288"]]},{"id":"eb8a7ab8.eb9688","type":"change","z":"7d4c9938.2a0338","name":"Apple TV","rules":[],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":720,"wires":[["c622196f.1fd878","d68ab66.d666748"]]},{"id":"950a73cb.42b4d","type":"api-call-service","z":"7d4c9938.2a0338","name":"Apple TV Wallpaper","server":"78fe396.483dac8","version":1,"debugenabled":false,"service_domain":"remote","service":"send_command","entityId":"remote.apple_tv","data":"{\"command\":[\"top_menu\"]}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1030,"y":900,"wires":[["c0e1daa5.464ce8"]]},{"id":"7a03096b.758ef8","type":"api-call-service","z":"7d4c9938.2a0338","name":"Apple TV Wallpaper","server":"78fe396.483dac8","version":1,"debugenabled":false,"service_domain":"remote","service":"send_command","entityId":"remote.apple_tv","data":"{\"command\":[\"menu\"]}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1290,"y":900,"wires":[[]]},{"id":"4cc12ade.fb8b14","type":"trigger","z":"7d4c9938.2a0338","name":"wait 2s","op1":"","op2":"1","op1type":"nul","op2type":"num","duration":"2","extend":false,"units":"s","reset":"","bytopic":"all","outputs":1,"x":900,"y":860,"wires":[["950a73cb.42b4d"]]},{"id":"ce4873e9.b2d69","type":"trigger","z":"7d4c9938.2a0338","name":"wait 2s","op1":"","op2":"1","op1type":"nul","op2type":"num","duration":"1","extend":false,"units":"s","reset":"","bytopic":"all","outputs":1,"x":900,"y":740,"wires":[["642767b2.727cc8"]]},{"id":"642767b2.727cc8","type":"api-call-service","z":"7d4c9938.2a0338","name":"Apple TV ON","server":"78fe396.483dac8","version":1,"debugenabled":false,"service_domain":"remote","service":"send_command","entityId":"remote.apple_tv","data":"{\"command\":[\"top_menu\"]}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1050,"y":740,"wires":[[]]},{"id":"c0e1daa5.464ce8","type":"trigger","z":"7d4c9938.2a0338","name":"wait 2s","op1":"","op2":"1","op1type":"nul","op2type":"num","duration":"2","extend":false,"units":"s","reset":"","bytopic":"all","outputs":1,"x":1160,"y":860,"wires":[["7a03096b.758ef8"]]},{"id":"f1e279ba.7e0218","type":"trigger-state","z":"e550f91e.577438","name":"Playstation changes state","server":"78fe396.483dac8","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"media_player.playstation_4","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"kg7impon62a","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"playing"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":150,"y":420,"wires":[["2b193899.98e6f8"],[]]},{"id":"2b193899.98e6f8","type":"function","z":"e550f91e.577438","name":"Calculate time played","func":"var startTime = new Date(msg.data.event.old_state.last_changed);\nvar endTime = new Date(msg.data.event.new_state.last_changed);\n\nmsg.incrementalPlaytime = Math.ceil(Math.abs(startTime-endTime) / (1000 * 60)); \nreturn msg;","outputs":1,"noerr":0,"x":400,"y":420,"wires":[["4cccc6ff.5914c8"]]},{"id":"4cccc6ff.5914c8","type":"function","z":"e550f91e.577438","name":"Exist.io Token Header & Date","func":"var d = new Date();\nmsg.today = [d.getFullYear(),('0' + (d.getMonth() + 1)).slice(-2),('0' + d.getDate()).slice(-2)].join('-');\nmsg.headers = {'Authorization':'Bearer 5d0fdf1d9f56974ec2992328e0f1c4a2ef1b3a6c'};\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":420,"wires":[["b822fd8.dc29a"]]},{"id":"b822fd8.dc29a","type":"www-request","z":"e550f91e.577438","name":"GET existing gaming_min","method":"GET","ret":"obj","url":"https://exist.io/api/1/users/$self/attributes/gaming_min/?access_token=&date_min={{{today}}}&date_max={{{today}}}","follow-redirects":false,"persistent-http":false,"tls":"","x":890,"y":420,"wires":[["ac457380.6db92"]]},{"id":"ac457380.6db92","type":"function","z":"e550f91e.577438","name":"calculate todays total playtime","func":"if(msg.payload.results[0].value !== null) {\n    msg.playtimeToday = parseInt(msg.incrementalPlaytime) + parseInt(msg.payload.results[0].value);\n} else {\n    msg.playtimeToday = parseInt(msg.incrementalPlaytime);\n}\n\nmsg.payload = { name: \"gaming_min\", date: msg.today, value: msg.playtimeToday}\nmsg.headers = {'Authorization':'Bearer 5d0fdf1d9f56974ec2992328e0f1c4a2ef1b3a6c'};\nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":420,"wires":[["87f5ce5f.f875f"]]},{"id":"87f5ce5f.f875f","type":"www-request","z":"e550f91e.577438","name":"HTTP POST","method":"POST","ret":"obj","url":"https://exist.io/api/1/attributes/update/?access_token=","follow-redirects":false,"persistent-http":false,"tls":"","x":1370,"y":420,"wires":[[]]},{"id":"a644a327.cff02","type":"inject","z":"6e3c7fcf.e7591","name":"08:05","repeat":"","crontab":"05 08 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":120,"wires":[["fabad148.d1309"]]},{"id":"da7bdcd9.ac5c7","type":"inject","z":"6e3c7fcf.e7591","name":"09:05","repeat":"","crontab":"05 09 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":160,"wires":[["fabad148.d1309"]]},{"id":"8531819f.10275","type":"inject","z":"6e3c7fcf.e7591","name":"13:05","repeat":"","crontab":"05 13 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":200,"wires":[["fabad148.d1309"]]},{"id":"5c4d93ce.f7478c","type":"api-call-service","z":"ce35d200.18817","name":"Turn eBike Charger off","server":"78fe396.483dac8","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.eBike_Charger","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":540,"y":1020,"wires":[[]]},{"id":"598ddec5.ca4ee","type":"server-state-changed","z":"ce35d200.18817","name":"eBike Charger turns on","server":"78fe396.483dac8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"switch.ebike_charger","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":130,"y":1020,"wires":[["8061bd4a.5088c"],[]]},{"id":"8061bd4a.5088c","type":"trigger","z":"ce35d200.18817","name":"","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"4","extend":false,"units":"hr","reset":"","bytopic":"all","outputs":1,"x":330,"y":1020,"wires":[["5c4d93ce.f7478c"]]},{"id":"a23dfbc0.199248","type":"trigger-state","z":"e550f91e.577438","name":"TV changes state","server":"78fe396.483dac8","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"media_player.samsung_qe65q7fam","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"3gc030jkkva","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":130,"y":540,"wires":[["bf168f76.40c91"],[]]},{"id":"2de56fb3.0da83","type":"function","z":"e550f91e.577438","name":"Calculate time watched","func":"var startTime = new Date(msg.data.event.old_state.last_changed);\nvar endTime = new Date(msg.data.event.new_state.last_changed);\n\nmsg.incrementalWatchtime = Math.ceil(Math.abs(startTime-endTime) / (1000 * 60)); \nreturn msg;","outputs":1,"noerr":0,"x":490,"y":600,"wires":[["aa2fea4c.444358"]]},{"id":"aa2fea4c.444358","type":"function","z":"e550f91e.577438","name":"Exist.io Token Header & Date","func":"var d = new Date();\nmsg.today = [d.getFullYear(),('0' + (d.getMonth() + 1)).slice(-2),('0' + d.getDate()).slice(-2)].join('-');\nmsg.headers = {'Authorization':'Bearer 5d0fdf1d9f56974ec2992328e0f1c4a2ef1b3a6c'};\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":600,"wires":[["46304984.aeef18"]]},{"id":"46304984.aeef18","type":"www-request","z":"e550f91e.577438","name":"GET existing tv_min","method":"GET","ret":"obj","url":"https://exist.io/api/1/users/$self/attributes/tv_min/?access_token=&date_min={{{today}}}&date_max={{{today}}}","follow-redirects":false,"persistent-http":false,"tls":"","x":980,"y":600,"wires":[["5af79f6e.759dd"]]},{"id":"5af79f6e.759dd","type":"function","z":"e550f91e.577438","name":"calculate todays total watch time","func":"if(msg.payload.results[0].value !== null) {\n    msg.watchtimeToday = parseInt(msg.incrementalWatchtime) + parseInt(msg.payload.results[0].value);\n} else {\n    msg.watchtimeToday = parseInt(msg.incrementalWatchtime);\n}\n\nmsg.payload = { name: \"tv_min\", date: msg.today, value: msg.watchtimeToday}\nmsg.headers = {'Authorization':'Bearer 5d0fdf1d9f56974ec2992328e0f1c4a2ef1b3a6c'};\nreturn msg;","outputs":1,"noerr":0,"x":1240,"y":600,"wires":[["4e1648a6.550a28"]]},{"id":"4e1648a6.550a28","type":"www-request","z":"e550f91e.577438","name":"HTTP POST","method":"POST","ret":"obj","url":"https://exist.io/api/1/attributes/update/?access_token=","follow-redirects":false,"persistent-http":false,"tls":"","x":1470,"y":600,"wires":[[]]},{"id":"bf168f76.40c91","type":"api-current-state","z":"e550f91e.577438","name":"PS4 State","server":"78fe396.483dac8","version":1,"outputs":1,"halt_if":"","halt_if_type":"jsonata","halt_if_compare":"is","override_topic":false,"entity_id":"media_player.playstation_4","state_type":"str","state_location":"ps4.payload","override_payload":"msg","entity_location":"ps4.data","override_data":"msg","blockInputOverrides":false,"x":320,"y":540,"wires":[["6aff1430.ca25fc"]]},{"id":"6aff1430.ca25fc","type":"switch","z":"e550f91e.577438","name":"has changed in last 5min","property":"ps4.data.timeSinceChangedMs","propertyType":"msg","rules":[{"t":"lt","v":"300000","vt":"str"},{"t":"gt","v":"300000","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":510,"y":540,"wires":[["d884da34.adb008"],["2de56fb3.0da83"]],"outputLabels":["has changed in last 5min","has not changed in last 5min"]},{"id":"d884da34.adb008","type":"debug","z":"e550f91e.577438","name":"not logged","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":750,"y":500,"wires":[]},{"id":"398bef58.0823b","type":"server-events","z":"7d4c9938.2a0338","name":"Apple TV Remote","server":"78fe396.483dac8","event_type":"homekit_tv_remote_key_pressed","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"x":140,"y":1060,"wires":[["2ee572cf.c3ab0e"]]},{"id":"5faa8fc8.def59","type":"api-call-service","z":"7d4c9938.2a0338","name":"Arrow Left","server":"78fe396.483dac8","version":1,"debugenabled":false,"service_domain":"remote","service":"send_command","entityId":"remote.harmony_hub","data":"{\"device\":\"Samsung TV\",\"command\":[\"DirectionLeft\"]}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":810,"y":960,"wires":[[]]},{"id":"15f6fb28.5325e5","type":"switch","z":"7d4c9938.2a0338","name":"Cmd Interpreter","property":"payload.event.key_name","propertyType":"msg","rules":[{"t":"eq","v":"arrow_left","vt":"str"},{"t":"eq","v":"arrow_right","vt":"str"},{"t":"eq","v":"arrow_up","vt":"str"},{"t":"eq","v":"arrow_down","vt":"str"},{"t":"eq","v":"back","vt":"str"},{"t":"eq","v":"information","vt":"str"},{"t":"eq","v":"select","vt":"str"}],"checkall":"true","repair":false,"outputs":7,"x":600,"y":1080,"wires":[["5faa8fc8.def59"],["8d53a9b9.0092a8"],["31ccec9c.f8bf24"],["54457a1a.1d8364"],["15b52dd8.16eab2"],["afc9e035.0f08b"],["c6b13a5c.b54578"]]},{"id":"2ee572cf.c3ab0e","type":"switch","z":"7d4c9938.2a0338","name":"is Samsung TV?","property":"payload.entity_id","propertyType":"msg","rules":[{"t":"eq","v":"media_player.samsung_tv","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":360,"y":1080,"wires":[["15f6fb28.5325e5"]]},{"id":"8d53a9b9.0092a8","type":"api-call-service","z":"7d4c9938.2a0338","name":"Arrow Right","server":"78fe396.483dac8","version":1,"debugenabled":false,"service_domain":"remote","service":"send_command","entityId":"remote.harmony_hub","data":"{\"device\":\"Samsung TV\",\"command\":[\"DirectionRight\"]}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":810,"y":1000,"wires":[[]]},{"id":"31ccec9c.f8bf24","type":"api-call-service","z":"7d4c9938.2a0338","name":"Arrow Up","server":"78fe396.483dac8","version":1,"debugenabled":false,"service_domain":"remote","service":"send_command","entityId":"remote.harmony_hub","data":"{\"device\":\"Samsung TV\",\"command\":[\"DirectionUp\"]}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":800,"y":1040,"wires":[[]]},{"id":"54457a1a.1d8364","type":"api-call-service","z":"7d4c9938.2a0338","name":"Arrow Down","server":"78fe396.483dac8","version":1,"debugenabled":false,"service_domain":"remote","service":"send_command","entityId":"remote.harmony_hub","data":"{\"device\":\"Samsung TV\",\"command\":[\"DirectionDown\"]}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":810,"y":1080,"wires":[[]]},{"id":"c6b13a5c.b54578","type":"api-call-service","z":"7d4c9938.2a0338","name":"Select","server":"78fe396.483dac8","version":1,"debugenabled":false,"service_domain":"remote","service":"send_command","entityId":"remote.harmony_hub","data":"{\"device\":\"Samsung TV\",\"command\":[\"Select\"]}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":790,"y":1200,"wires":[[]]},{"id":"afc9e035.0f08b","type":"api-call-service","z":"7d4c9938.2a0338","name":"Smart Hub","server":"78fe396.483dac8","version":1,"debugenabled":false,"service_domain":"remote","service":"send_command","entityId":"remote.harmony_hub","data":"{\"device\":\"Samsung TV\",\"command\":[\"SmartHub\"]}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":810,"y":1160,"wires":[[]]},{"id":"15b52dd8.16eab2","type":"api-call-service","z":"7d4c9938.2a0338","name":"Back","server":"78fe396.483dac8","version":1,"debugenabled":false,"service_domain":"remote","service":"send_command","entityId":"remote.harmony_hub","data":"{\"device\":\"Samsung TV\",\"command\":[\"Return\"]}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":790,"y":1120,"wires":[[]]},{"id":"33c5dc01.6a05d4","type":"inject","z":"ce35d200.18817","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":470,"y":220,"wires":[["cdf5a30e.068da"]]},{"id":"d9be011b.16673","type":"api-call-service","z":"260e105e.72e61","name":"broadcast","server":"78fe396.483dac8","version":"1","debugenabled":false,"service_domain":"tts","service":"google_cloud_say","entityId":"media_player.google_home","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":820,"y":640,"wires":[["343ddc2b.cfa634"]]},{"id":"675fad99.757bc4","type":"function","z":"260e105e.72e61","name":"Washing Ended Message","func":"var message = `The washing machine has finished washing your clothes!`\n\nmsg.payload =\n    {\n        \"data\":\n        {\n            \"message\": message\n        }\n        \n    }\n\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":640,"wires":[["d9be011b.16673"]]},{"id":"611183c0.7fcf1c","type":"trigger-state","z":"260e105e.72e61","name":"Washing Machine has turned off","server":"78fe396.483dac8","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"binary_sensor.washingmachine_state","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"e6erc5od20g","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"bool","comparatorValue":"false"},{"id":"a0fqt2v0q4","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"bool","comparatorValue":"true"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"habool","x":190,"y":660,"wires":[["8240e9ab.480058"],[]]},{"id":"4878869d.24de78","type":"api-call-service","z":"260e105e.72e61","name":"Push Notification","server":"78fe396.483dac8","version":1,"debugenabled":false,"service_domain":"notify","service":"notify_all","entityId":"","data":"{\"title\":\"Washing Machine done 👕\",\"message\":\"Don't wait for your clothes to wrinkle!\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":610,"y":680,"wires":[[]]},{"id":"c9383bc0.d91c48","type":"api-call-service","z":"260e105e.72e61","name":"broadcast","server":"78fe396.483dac8","version":1,"debugenabled":false,"service_domain":"tts","service":"google_cloud_say","entityId":"media_player.google_home","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":820,"y":740,"wires":[[]]},{"id":"e51508c8.c6d4f8","type":"function","z":"260e105e.72e61","name":"Tumbler Ended Message","func":"var message = `The tumbler has finished drying your clothes!`\n\nmsg.payload =\n    {\n        \"data\":\n        {\n            \"message\": message\n        }\n        \n    }\n\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":740,"wires":[["c9383bc0.d91c48"]]},{"id":"6973d28b.547b7c","type":"trigger-state","z":"260e105e.72e61","name":"Tumbler has turned off","server":"78fe396.483dac8","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"binary_sensor.tumbler_state","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"e6erc5od20g","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"bool","comparatorValue":"false"},{"id":"a0fqt2v0q4","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"bool","comparatorValue":"true"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"habool","x":220,"y":760,"wires":[["c3532e2b.30fa5"],[]]},{"id":"a44c7e50.b177f","type":"api-call-service","z":"260e105e.72e61","name":"Push Notification","server":"78fe396.483dac8","version":1,"debugenabled":false,"service_domain":"notify","service":"notify_all","entityId":"","data":"{\"title\":\"Tumbler done 👕\",\"message\":\"Don't wait for your clothes to wrinkle!\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":610,"y":780,"wires":[[]]},{"id":"56ec8b38.4f9624","type":"trigger-state","z":"260e105e.72e61","name":"Washing Machine has turned on","server":"78fe396.483dac8","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"binary_sensor.washingmachine_state","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"o59y1tygs8d","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"true"},{"id":"nkl3nnwyrgf","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"false"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"habool","x":190,"y":880,"wires":[["a167b6a7.ed0d48"],[]]},{"id":"a167b6a7.ed0d48","type":"api-current-state","z":"260e105e.72e61","name":"home occupied","server":"78fe396.483dac8","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.apartment_occupancy","state_type":"habool","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":460,"y":880,"wires":[[],["f6425403.9be298"]],"outputLabels":["occupied","not occupied"]},{"id":"f6425403.9be298","type":"api-call-service","z":"260e105e.72e61","name":"Notification","server":"78fe396.483dac8","version":1,"debugenabled":false,"service_domain":"notify","service":"notify_all","entityId":"","data":"{\"title\":\"Washing Machine started 👕\",\"message\":\"Has been started by a timer!\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":670,"y":880,"wires":[[]]},{"id":"8240e9ab.480058","type":"time-range-switch","z":"260e105e.72e61","name":"","lat":"47.38089","lon":"8.48364","startTime":"08:00","endTime":"22:00","startOffset":0,"endOffset":0,"x":410,"y":660,"wires":[["675fad99.757bc4","4878869d.24de78"],["4878869d.24de78"]]},{"id":"54698a41.81b204","type":"time-range-switch","z":"260e105e.72e61","name":"","lat":"47.38089","lon":"8.48364","startTime":"08:00","endTime":"22:00","startOffset":0,"endOffset":0,"x":410,"y":660,"wires":[[],[]]},{"id":"c3532e2b.30fa5","type":"time-range-switch","z":"260e105e.72e61","name":"","lat":"47.38089","lon":"8.48364","startTime":"08:00","endTime":"22:00","startOffset":0,"endOffset":0,"x":410,"y":760,"wires":[["e51508c8.c6d4f8","a44c7e50.b177f"],["a44c7e50.b177f"]]},{"id":"343ddc2b.cfa634","type":"debug","z":"260e105e.72e61","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1020,"y":660,"wires":[]}]